.head_Edally {
    position: relative;
    width: 100%;
    height: 912px;

    .bann_Edally {
        position: absolute;
        top: 0;
        left: 0;
    
        img {
            overflow: hidden;
        }
    }

    .item-header {
        position: fixed;
        width: 100%;
        top: 20px;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 75px;
            background: #ffffffad;
            box-shadow: 0px 9px 13px rgba(247, 148, 184, 0.5);
            border-radius: 41px;
            padding: 0 25px;
    
            .menu-top {
                width: 100%;
    
                .menu-wrapper {
                    display: none;
                    float: right;
                    overflow: hidden;
                    max-width: 100%;
                    cursor: pointer;
    
                    .hamburger {
                        z-index: 3;
                        position: relative;
                        width: 25px;
                        height: 30px;
                        margin: 15px;
                        margin: 7px 0 5px 0;
    
                        span {
                            opacity: 1;
                            left: 0;
                            display: block;
                            width: 100%;
                            height: 2px;
                            border-radius: 10px;
                            color: #000000;
                            background-color: #000000;
                            position: absolute;
                            transform: rotate(0deg);
                            transition: 0.4s ease-in-out;
                        }
                    }
                }
    
                .menu-list {
                    align-items: center;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    justify-content: flex-end;
    
                    .logo-menu {
                        display: none;
                        text-align: center;
                        padding: 35px 0 50px 0;
                    }
    
                    li {
                        text-transform: uppercase;
                        padding-right: 50px;
                        padding-top: 7px;
                        padding-bottom: 7px;
                        position: relative;
    
                        &:last-child {
                            padding-right: 10px;
                        }
    
                        &:hover {
                            .menu1 {
                                &::after {
                                    width: 60%;
                                }
                            }
    
                            .sub-menu-1 {
                                display: block;
                            }
    
                            .fa-angle-down {
                                color: #FFEDF6;
            
                                &::before {
                                    border-top: 1px solid #E51471;
                                    border-right: 1px solid #E51471;
                                }
                            }
                        }
    
                        .menu1 {
                            font-family: SVN-Poppins-Regular;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 24px;
                            color: #4F4F4F;
                            position: relative;
                            text-decoration: none;
                            padding-bottom: 5px;
    
                            &::after {
                                position: absolute;
                                content: "";
                                bottom: -13px;
                                left: 20%;
                                width: 0;
                                height: 5px;
                                transition: all 0.5s;
                                border-radius: 108px;
                                background: #E51471;
                            }
                        }
    
                        .sub-menu-1 {
                            display: none;
                            position: absolute;
                            width: 240px;
                            top: 100%;
                            left: 0;
                            background: #fcf1f6;
                            z-index: 10;
                            padding-bottom: 5px;
    
                            .a-lv-1 {
                                float: left;
                                width: 100%;
                                position: relative;
    
                                a {
                                    margin-bottom: 0px;
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    padding: 10px 15px;
                                    font-weight: normal;
                                    text-decoration: none;
                                    text-transform: none !important;
                                    border-bottom: 1px solid #ebebeb;
                                    color: #424242;
                                }
    
                                &:last-child {
                                    a {
                                        border-bottom: 0;
                                    }
                                }
    
                                &:hover {
                                    a {
                                        color: #E51471;
                                    }
    
                                    .menu2 {
                                        display: block;
                                    }
                                }
    
                                .menu2 {
                                    display: none;
                                    position: absolute;
                                    top: 100%;
                                    left: 0;
                                    width: 240px;
                                    background: #fcf1f6;
                                    z-index: 10;
                                    padding-left: 25px;
                                    padding-bottom: 5px;
    
                                    a {
                                        margin-bottom: 0px;
                                        position: relative;
                                        display: flex;
                                        align-items: center;
                                        padding: 10px 15px;
                                        font-weight: normal;
                                        text-decoration: none;
                                        text-transform: none !important;
                                        color: #424242;
    
                                        &:hover {
                                            color: #E51471;
                                        }
    
                                        &:last-child {
                                            a {
                                                border-bottom: 0;
                                            }
                                        }
                                    }
                                }
                            }
    
                            .fa-angle {
                                position: relative;
    
                                &:before {
                                    position: absolute;
                                    content: "";
                                    width: 6px;
                                    height: 6px;
                                    top: 13px;
                                    right: 15px;
                                    border-top: 1px solid #ccc;
                                    border-right: 1px solid #ccc;
                                    transform: rotateZ(135deg);
                                }
    
                                &:hover {
                                    &::before {
                                        border-top: 1px solid #E51471;
                                        border-right: 1px solid #E51471;
                                    }
                                }
                            }
                        }
    
                        .fa-angle-down {
                            position: absolute;
                            top: 8px;
                            right: 45px;
    
                            &::before {
                                position: absolute;
                                content: "";
                                width: 6px;
                                height: 6px;
                                top: 6px;
                                left: 6px;
                                border-top: 1px solid #ccc;
                                border-right: 1px solid #ccc;
                                -webkit-transform: rotateZ(135deg);
                                transform: rotateZ(135deg);
                            }
                        }
                    }
                }
            }
        }
    }

    
}