.bann_senvang {
    width: 100%;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.home-senvang {
    background: #333333;
    overflow: hidden;
    position: relative;

    &::before {
        position: absolute;
        content: url('../../assets/img/bf1.png');
        top: 50px;
        left: 0;
    }

    &::after {
        position: absolute;
        content: url('../../assets/img/bf2.png');
        top: 50px;
        right: 0;
    }

    .item-parameters {
        padding: 50px 0;
        margin-bottom: 50px;
        
        ul {
            display: flex;
            justify-content: space-evenly;

            li {
                text-align: center;
                position: relative;
                cursor: pointer;

                &::before {
                    position: absolute;
                    content: "";
                    background: radial-gradient(38.9% 38.91% at 59.65% 54.53%, #DEC29E 0%, rgba(222, 194, 158, 0) 100%);
                    opacity: 0.6;
                    width: 5px;
                    height: 190px;
                    top: 0;
                    right: -50px;
                }

                &:last-child {
                    &::before {
                        display: none;
                    }
                }

                h3 {
                    font-family: SVN-Poppins-Bold;
                    font-style: normal;
                    font-weight: bold;
                    line-height: 150.5%;
                    color: #D09A2D;
                }

                p {
                    font-family: SVN-Poppins-Light;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 150.5%;
                    color: #D09A2D;
                }
            }
        }
    }

    .item-gioithieu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 50px;
        position: relative;

        &::before {
            position: absolute;
            content: url('../../assets/img/bf4.png');
            bottom: -75px;
            left: 22%;
        }

        .left {
            width: 47%;
            padding-right: 50px;

            .product {
                margin-bottom: 30px;

                h2 {
                    font-family: SVN-Aleo bold;
                    font-style: normal;
                    font-weight: bold;
                    line-height: 53px;
                    text-transform: uppercase;
                    color: #D09A2D;
                    margin-bottom: 36px;
                    position: relative;

                    &::before {
                        position: absolute;
                        content: url('../../assets/img/bf-title.png');
                        top: -11px;
                        left: -38px;
                        opacity: 0.1;
                    }
                }

                p {
                    font-family: SVN-Poppins-Light;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 150.5%;
                    text-align: justify;
                    color: #FFFFFF;
                    margin-bottom: 15px;
                }
            }

            a {
                text-decoration: none;
            }
        }

        .right {
            width: 53%;

            .image {
                position: relative;
                z-index: 1;
                width: 100%;

                &::before {
                    position: absolute;
                    content: url('../../assets/img/bf.png');
                    bottom: -50px;
                    left: 90px;
                    z-index: -1;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    .item-dichvu {
        padding: 35px 0;

        .title {
            width: 329px;
            height: 71px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            margin-bottom: 25px;

            h2 {
                font-family: SVN-Aleo bold;
                font-style: normal;
                font-weight: bold;
                line-height: 53px;
                text-transform: uppercase;
                color: #D09A2D;
                margin-bottom: 36px;
                position: relative;

                &::before {
                    position: absolute;
                    content: url('../../assets/img/bf-title.png');
                    top: -11px;
                    left: -62px;
                    opacity: 0.1;
                }
            }
        }

        .new_slide .draggable {
            .slick-track {
                .slick-center {
                    display: flex;
                    align-items: center;
                    transform: scale(1.8);
                    height: 240px;
                    margin: 120px 0 0 0;
                    z-index: 3;
                    position: relative;
                    box-shadow: 0px 10px 21px rgba(0, 0, 0, 0.25);

                    .card_img {
                        width: 60%;
                        overflow: hidden;
                        display: flex;
                        padding: 10px;

                        .img {
                            width: 100%;
                            overflow: hidden;
                            display: flex;
                            border-radius: 20px;
                        }

                        h3 {
                            display: none;
                        }
                    }

                    .card_content {
                        display: block;
                        width: 52%;
                        margin-right: -35px;
                        margin-left: -25px;
                        transform: scale(0.6);
                    }
                }
            }
        }

        .new_slide {
            z-index: 1;

            .card_new {
                overflow: hidden;
                background: #FFFFFF;
                border-radius: 20px;
                height: 340px;
                margin-top: 70px;
                margin-bottom: 110px;
                z-index: -1;

                .card_img {
                    width: 100%;
                    height: 100%;
                    position: relative;

                    h3 {
                        position: absolute;
                        font-family: SVN-Poppins-Regular;
                        font-style: normal;
                        font-weight: bold;
                        line-height: 15px;
                        color: #ABABAB;
                        bottom: 0;
                        left: 25px;
                    }
                }

                .card_content {
                    display: none;

                    .image {
                        width: 76px;
                        height: 76px;
                        margin: auto;
                        
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    h4 {
                        font-family: SVN-Poppins-Bold;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 124.5%;
                        color: #4F4F4F;
                        text-align: center;
                        margin: 20px 0;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }

                    p {
                        font-family: SVN-Poppins-Regular;
                        font-style: normal;
                        font-weight: normal;
                        line-height: 24px;
                        text-align: center;
                        color: #4F4F4F;
                        display: -webkit-box;
                        -webkit-line-clamp: 5;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        margin-bottom: 15px;
                    }

                    a {
                        text-decoration: none;
                        margin: auto;
                        outline: 0;
                    }
                }
            }

            .slick-prev {
                top: 45%;
                left: 19.1%;
                z-index: 1;

                &::after {
                    display: none;
                    content: url("../../assets/img/prev1.png");
                }

                &::before {
                    content: url("../../assets/img/prev.png");
                }

                &:hover {
                    &::after {
                        display: block;
                    }

                    &::before {
                        display: none;
                    }
                }
            }

            .slick-next {
                top: 45%;
                right: 19.8%;
                z-index: 1;

                &::after {
                    display: none;
                    content: url("../../assets/img/next1.png");
                }

                &::before {
                    content: url("../../assets/img/next.png");
                }

                &:hover {
                    &::after {
                        display: block;
                    }

                    &::before {
                        display: none;
                    }
                }
            }

            .slick-dots {
                bottom: 0;

                li {
                    button {
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        border-radius: 50%;
                        width: 10px;
                        height: 10px;
                        background: repeat;
                        border: 1px solid #FFFFFF;
                        box-sizing: border-box;

                        &::before {
                            color: rgba(255, 255, 255, 0);
                        }
                    }
                }

                .slick-active {
                    button {
                        background: #FFFFFF;
                    }
                }
            }
        }
    }

    .item_thuvien {
        width: 100%;
        background-image: url('../../assets/img/bann-thuvien.png');
        background-size: cover;
        height: 961px;

        .container {
            position: relative;
        }

        .title {
            padding-top: 265px;
            width: 322px;
            height: 71px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 25px;

            h2 {
                font-family: SVN-Aleo bold;
                font-style: normal;
                font-weight: bold;
                line-height: 53px;
                text-transform: uppercase;
                color: #D09A2D;
                margin-bottom: 36px;
                position: relative;

                &::before {
                    position: absolute;
                    content: url('../../assets/img/bf-title.png');
                    top: -11px;
                    left: -62px;
                    opacity: 0.1;
                }
            }
        }

        .item-list-image {
            width: 100%;
            position: absolute;
            top: 87px;
            left: 0;
            padding: 0 15px;
            z-index: 1;

            .top {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                margin-bottom: 15px;

                .item-image {
                    cursor: pointer;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        transition: all 0.8s;
                    }

                    &:hover {
                        img {
                            transform: scale(1.2);
                            transition: all 0.8s;
                        }
                    }

                    &:nth-child(1) {
                        width: 252px;
                        height: 256px;
                        border-radius: 0px 60px 0px 60px;
                        margin-right: 15px;
                    }

                    &:nth-child(2) {
                        width: 441px;
                        height: 385px;
                        border-radius: 60px 0px 60px 0px;
                    }
                }
            }

            .bott {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;

                .item-image {
                    cursor: pointer;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        transition: all 0.8s;
                    }

                    &:hover {
                        img {
                            transform: scale(1.2);
                            transition: all 0.8s;
                        }
                    }

                    &:nth-child(1) {
                        width: 245px;
                        height: 227px;
                        border-radius: 0px 60px 0px 60px;
                        margin-right: 15px;
                    }

                    &:nth-child(2) {
                        width: 420px;
                        height: 385px;
                        border-radius: 60px 0px 60px 0px;
                        margin-right: 15px;
                    }

                    &:nth-child(3) {
                        width: 441px;
                        height: 385px;
                        border-radius: 0px 60px 0px 60px;
                    }
                }
            }
        }
    }

    .item-ykienkhachhang {
        width: 100%;
        background-image: url('../../assets/img/bann-ykien.png');
        background-size: 100% 100%;
        padding: 50px 0;
        padding-bottom: 100px;
        position: relative;

        &::before {
            position: absolute;
            content: url('../../assets/img/bf3.png');
            right: 0;
            bottom: 190px;
        }

        .title {
            padding-top: 120px;
            width: 450px;
            height: 53px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            margin-bottom: 80px;

            h2 {
                font-family: SVN-Aleo bold;
                font-style: normal;
                font-weight: bold;
                line-height: 53px;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 36px;
                position: relative;
                text-align: center;

                &::before {
                    position: absolute;
                    content: url('../../assets/img/bf-title1.png');
                    top: -15px;
                    left: 77px;
                }
            }
        }

        .slide-item-y-kien {

            .item-list-y-kien {
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                .main-avt {
                    width: 312px;
                    height: 312px;
                    border-radius: 50%;
                    overflow: hidden;
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .item-product {
                    width: 60%;
                    padding-left: 85px;

                    .digo {
                        position: relative;
                        margin-bottom: 40px;

                        p {
                            font-family: SVN-Poppins-Regular;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 24px;
                            color: #FFFFFF;
                            display: -webkit-box;
                            -webkit-line-clamp: 5;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }

                        &::before {
                            position: absolute;
                            content: "“";
                            top: -65px;
                            left: -70px;
                            font-family: Varela;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 150px;
                            line-height: 150.36%;
                            color: #FFFFFF;
                            opacity: 0.4;
                        }
                    }

                    ul {
                        display: flex;
                        flex-wrap: wrap;

                        li {
                            width: 112px;
                            height: 112px;
                            border-radius: 50%;
                            overflow: hidden;
                            margin-right: 35px;
                            cursor: pointer;

                            &:last-child {
                                margin: 0;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }

            .slick-dots {
                bottom: -70px;

                li {
                    button {
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        border-radius: 50%;
                        width: 10px;
                        height: 10px;
                        background: repeat;
                        border: 1px solid #FFFFFF;
                        box-sizing: border-box;

                        &::before {
                            color: rgba(255, 255, 255, 0);
                        }
                    }
                }

                .slick-active {
                    button {
                        background: #FFFFFF;
                    }
                }
            }
        }
    }
}

.lienhe {
    padding: 60px 0;
    overflow: hidden;
    background-image: url('../../assets/img/bann-lienhe.png');
    background-size: cover;
    background-color: #333333;

    .form {
        width: 970px;
        margin: auto;

        .title {
            width: 285px;
            height: 79px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            margin-bottom: 20px;

            h2 {
                font-family: SVN-Aleo bold;
                font-style: normal;
                font-weight: bold;
                line-height: 53px;
                text-transform: uppercase;
                color: #D09A2D;
                position: relative;

                &::before {
                    position: absolute;
                    content: url('../../assets/img/bf-title.png');
                    top: -11px;
                    left: -62px;
                    opacity: 0.1;
                }
            }
        }

        p {
            font-family: SVN-Poppins-Regular;
            font-style: normal;
            font-weight: normal;
            line-height: 32px;
            text-align: center;
            color: #E6E6E6;
            margin-bottom: 35px;
        }

        form {
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .left {
                width: 50%;
                padding-right: 30px;

                input {
                    width: 100%;
                    padding: 21px;
                    padding-right: 0;
                    outline: 0;
                    border: 0;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 32px;
                    color: #E6E6E6;
                    margin-bottom: 34px;
                    background: rgba(255, 255, 255, 0.1);
                    mix-blend-mode: normal;
                    border-radius: 10px;

                    &:last-child {
                        margin: 0;
                    }

                    &::placeholder {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 32px;
                        color: #828282;
                    }
                }
            }

            textarea {
                width: 50%;
                padding: 21px;
                padding-right: 0;
                padding-bottom: 205px;
                outline: 0;
                border: 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 32px;
                color: #E6E6E6;
                background: rgba(255, 255, 255, 0.1);
                mix-blend-mode: normal;
                border-radius: 10px;

                &::placeholder {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 32px;
                    color: #828282;
                }
            }
            
            .dangky {
                margin: auto;
                padding-top: 31px;
            }
        }
    }
}

// responsive


@media (max-width: 1199px) {
    .home-senvang {
        &::after {
            top: 180px;
        }

        .item-parameters {
            ul {
                li {
                    &::before {
                        right: -25px;
                    }
                }
            }
        }

        .item-gioithieu {
            .right {
                .image {
                    &::before {
                        left: 0;
                        bottom: -170px;
                    }
                }
            }
        }

        .item_thuvien {
            .item-list-image {
                .top {
                    .item-image {
                        &:nth-child(1) {
                            width: 222px;
                            height: 226px;
                        }

                        &:nth-child(2) {
                            width: 350px;
                            height: 345px;
                        }
                    }
                }

                .bott {
                    .item-image {
                        &:nth-child(1) {
                            width: 222px;
                            height: 226px;
                        }

                        &:nth-child(2) {
                            width: 340px;
                            height: 345px;
                        }

                        &:nth-child(3) {
                            width: 350px;
                            height: 345px;
                        }
                    }
                }
            }
        }

        .item-ykienkhachhang {
            .slide-item-y-kien {
                .item-list-y-kien {
                    .item-product {
                        ul {
                            li {
                                width: 84px;
                                height: 84px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1034px) {
    .lienhe {
        .form {
            width: 100%;
        }
    }
}

@media (max-width: 991px) {
    .home-senvang {
        &::after {
            top: 230px;
        }

        .item-parameters {
            ul {
                margin: 0 -15px;

                li {
                    padding: 0 15px;

                    &::before {
                        right: 0;
                    }
                }
            }
        }

        .item-gioithieu {
            .right {
                .image {
                    &::before {
                        left: -66px;
                        bottom: -190px;
                    }
                }
            }
        }

        .item-dichvu {
            .new_slide {
                .slick-prev {
                    left: 4.1%;
                }

                .slick-next {
                    right: 4.8%;
                }
            }
        }

        .item_thuvien {
            height: 720px;

            .title {
                padding-top: 129px;
            }

            .item-list-image {
                .top {
                    .item-image {
                        &:nth-child(1) {
                            width: 170px;
                            height: 156px;
                        }

                        &:nth-child(2) {
                            width: 270px;
                            height: 265px;
                        }
                    }
                }

                .bott {
                    .item-image {
                        &:nth-child(1) {
                            width: 170px;
                            height: 156px;
                        }

                        &:nth-child(2) {
                            width: 255px;
                            height: 265px;
                        }

                        &:nth-child(3) {
                            width: 270px;
                            height: 265px;
                        }
                    }
                }
            }
        }

        .item-ykienkhachhang {
            .slide-item-y-kien {
                .item-list-y-kien {
                    padding: 25px 0;

                    .main-avt {
                        width: 274px;
                        height: 274px;
                    }

                    .item-product {
                        padding-left: 60px;

                        ul {
                            li {
                                margin-right: 15px;
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .home-senvang {
        &::after {
            top: 600px;
        }

        .item-gioithieu {
            &::before {
                left: 55px;
            }

            .left {
                width: 100%;
                padding-right: 0;
                margin-bottom: 50px;
            }

            .right {
                width: 100%;

                .image {
                    &::before {
                        left: 90px;
                        bottom: 0;
                    }
                }
            }
        }

        .item-dichvu {
            .new_slide {
                .draggable {
                    .slick-track {
                        .slick-center {
                            height: 200px;
                        }
                    }
                }

                .card_new {
                    height: 300px;
                }
            }
        }

        .item_thuvien {

            .item-list-image {
                .top {
                    .item-image {
                        &:nth-child(1) {
                            width: 19%;
                            height: 140px;
                            border-radius: 0px 40px 0px 40px;
                        }

                        &:nth-child(2) {
                            width: 38%;
                            height: 250px;
                        }
                    }
                }

                .bott {
                    .item-image {
                        &:nth-child(1) {
                            width: 19%;
                            height: 140px;
                            border-radius: 0px 40px 0px 40px;
                        }

                        &:nth-child(2) {
                            width: 38%;
                            height: 250px;
                        }

                        &:nth-child(3) {
                            width: 38%;
                            height: 250px;
                        }
                    }
                }
            }
        }
    }

    .lienhe {
        .form {
            form {
                .left {
                    width: 100%;
                    padding-right: 0;

                    input {
                        &:last-child {
                            margin-bottom: 34px;
                        }
                    }
                }

                textarea {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 715px) {
    .home-senvang {
        .item-ykienkhachhang {
            .slide-item-y-kien {
                .item-list-y-kien {
                    .main-avt {
                        width: 234px;
                        height: 234px;
                    }
                    .item-product {
                        .digo {
                            &::before {
                                top: -56px;
                                left: -63px;
                                font-size: 125px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 615px) {
    .home-senvang {
        .item-ykienkhachhang {
            .slide-item-y-kien {
                .item-list-y-kien {
                    .main-avt {
                        width: 184px;
                        height: 184px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .home-senvang {
        .item-gioithieu {
            .right {
                .image {
                    &::before {
                        bottom: -90px;
                    }
                }
            }
        }

        .item-dichvu {
            .new_slide {
                .draggable {
                    .slick-track {
                        .slick-center {
                            height: 170px;
                        }
                    }
                }

                .card_new {
                    height: 275px;

                    .card_content {

                        h4 {
                            margin: 10px 0;
                        }

                        p {
                            -webkit-line-clamp: 3;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }

        .item_thuvien {
            height: 585px;

            .title {
                padding-top: 80px;
            }

            .item-list-image {
                .top {
                    .item-image {
                        &:nth-child(1) {
                            height: 100px;
                            border-radius: 0px 30px 0px 30px;
                        }

                        &:nth-child(2) {
                            height: 200px;
                        }
                    }
                }

                .bott {
                    .item-image {
                        &:nth-child(1) {
                            height: 100px;
                            border-radius: 0px 30px 0px 30px;
                        }

                        &:nth-child(2) {
                            height: 200px;
                        }

                        &:nth-child(3) {
                            height: 200px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 542px) {
    .home-senvang {
        .item-gioithieu {
            .right {
                .image {
                    &::before {
                        bottom: -90px;
                    }
                }
            }
        }

        .item-dichvu {
            .new_slide {
                margin-bottom: 50px;
                
                .draggable {
                    .slick-track {
                        .slick-center {
                            margin: 0;
                            transform: scale(1);
                            height: 300px;

                            .card_img {
                                width: 60%;
                            }

                            .card_content {
                                width: 40%;
                                margin: 0;
                                padding-right: 10px;
                                transform: scale(1);
                            }
                        }
                    }
                }

                .card_new {
                    margin: 0;
                }

                .slick-dots {
                    bottom: -50px;
                }

                .slick-prev {
                    left: 5px;
                }

                .slick-next {
                    right: 16px;
                }
            }
        }

        .item-ykienkhachhang {
            .title {
                padding-top: 65px;
            }

            .slide-item-y-kien {
                .item-list-y-kien {
                    display: grid;
                    padding: 0%;

                    .main-avt {
                        margin: auto;
                    }

                    .item-product {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .home-senvang {
        .item-parameters {
            ul {
                display: grid;

                li {
                    margin-bottom: 25px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &::before {
                        display: none;
                    }
                }
            }
        }

        .item-gioithieu {
            &::before {
                left: 15px;
            }

            .right {
                .image {
                    &::before {
                        bottom: -190px;
                    }
                }
            }
        }

        .item_thuvien {
            height: 585px;

            .title {
                width: 256px;
            }

            .item-list-image {
                top: 140px;

                .top {
                    .item-image {
                        &:nth-child(1) {
                            height: 70px;
                            border-radius: 0px 30px 0px 30px;
                        }

                        &:nth-child(2) {
                            height: 150px;
                            border-radius: 40px 0px 40px 0px;
                        }
                    }
                }

                .bott {
                    .item-image {
                        &:nth-child(1) {
                            height: 70px;
                            border-radius: 0px 30px 0px 30px;
                        }

                        &:nth-child(2) {
                            height: 150px;
                            border-radius: 40px 0px 40px 0px;
                        }

                        &:nth-child(3) {
                            height: 150px;
                            border-radius: 0px 40px 0px 40px;
                        }
                    }
                }
            }
        }

        .item-ykienkhachhang {
            .title {
                width: 100%;

                h2 {
                    &::before {
                        left: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .home-senvang {
        .item-dichvu {
            .title {
                width: 100%;
            }

            .new_slide {
                .draggable {
                    .slick-track {
                        .slick-center {
                            height: 250px;

                            .card_content {
                                .butt_lienhe {
                                    width: 120px;
                                    height: 36px;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .home-senvang {
        .item_thuvien {
            height: 456px;

            .title {
                width: 100%;
            }

            .item-list-image {
                top: 140px;

                .top {
                    .item-image {
                        &:nth-child(1) {
                            height: 50px;
                            border-radius: 0px 15px 0px 15px;
                        }

                        &:nth-child(2) {
                            height: 120px;
                            border-radius: 30px 0px 30px 0px;
                        }
                    }
                }

                .bott {
                    .item-image {
                        &:nth-child(1) {
                            height: 50px;
                            border-radius: 0px 15px 0px 15px;
                        }

                        &:nth-child(2) {
                            height: 120px;
                            border-radius: 30px 0px 30px 0px;
                        }

                        &:nth-child(3) {
                            height: 120px;
                            border-radius: 0px 30px 0px 30px;
                        }
                    }
                }
            }
        }
    }

    .lienhe {
        .form {
            .title {
                width: 100%;
            }
        }
    }
}

