@charset "UTF-8";
.title1 {
  font-size: 48px;
}
.title1_1 {
  font-size: 42px;
}
.title1_2 {
  font-size: 36px;
}
.title1_3 {
  font-size: 32px;
}
.title1_4 {
  font-size: 30px;
}
.title1_5 {
  font-size: 28px;
}
.title2 {
  font-size: 26px;
}
.title2_1 {
  font-size: 24px;
}
.title2_2 {
  font-size: 21px;
}
.title3 {
  font-size: 18px;
}
.title4 {
  font-size: 16px;
}
.title4_1 {
  font-size: 15px;
}
.title5 {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .title1 {
    font-size: 42px;
  }
  .title1_1 {
    font-size: 38px;
  }
  .title1_2 {
    font-size: 30px;
  }
  .title1_3 {
    font-size: 28px;
  }
  .title1_4 {
    font-size: 26px;
  }
  .title1_5 {
    font-size: 24px;
  }
  .title2 {
    font-size: 22px;
  }
  .title2_1 {
    font-size: 20px;
  }
  .title2_2 {
    font-size: 18px;
  }
  .title3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  .title1 {
    font-size: 38px;
  }
  .title1_1 {
    font-size: 34px;
  }
  .title1_2 {
    font-size: 26px;
  }
  .title1_3 {
    font-size: 22px;
  }
  .title1_4 {
    font-size: 20px;
  }
  .title1_5 {
    font-size: 19px;
  }
  .title2 {
    font-size: 19px;
  }
  .title2_1 {
    font-size: 17px;
  }
  .title2_2 {
    font-size: 16px;
  }
  .title3 {
    font-size: 15px;
  }
  .title4 {
    font-size: 15px;
  }
  .title5 {
    font-size: 14px;
  }
}
@media screen and (max-width: 460px) {
  .title1 {
    font-size: 31px;
  }
  .title1_1 {
    font-size: 28px;
  }
  .title1_2 {
    font-size: 21px;
  }
  .title1_3 {
    font-size: 19px;
  }
  .title1_2 {
    font-size: 18px;
  }
  .title1_3 {
    font-size: 17px;
  }
  .title2 {
    font-size: 18px;
  }
  .title2_1 {
    font-size: 17px;
  }
  .title2_2 {
    font-size: 16px;
  }
  .title3 {
    font-size: 14px;
  }
  .title4 {
    font-size: 14px;
  }
  .title4_1 {
    font-size: 14px;
  }
  .title5 {
    font-size: 13px;
  }
}
.butt {
  font-family: SVN-Poppins-Light;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  border-radius: 32px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.butt_lienhe {
  width: 150px;
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, right top, from(#D28933), color-stop(50.52%, #F8D658), to(#D28933));
  background: linear-gradient(90deg, #D28933 0%, #F8D658 50.52%, #D28933 100%);
  -webkit-box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
          box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 100px;
  z-index: 2;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  color: #FFFFFF;
}
.butt_dk {
  width: 123px;
  height: 47px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.18);
  border-radius: 100px;
  z-index: 2;
  text-transform: uppercase;
  color: #D09A2D;
}
.butt:hover {
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.head_senvang {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}
.head_senvang .item-header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 44px;
  position: relative;
}
.head_senvang .item-header .header .left {
  position: absolute;
  width: 44.5%;
  height: 100%;
  left: 0;
  top: 0;
}
.head_senvang .item-header .header .left img {
  width: 100%;
  height: 100%;
}
.head_senvang .item-header .header .logo {
  position: absolute;
  top: 0;
  left: 42.85%;
  z-index: 10;
  height: 100%;
}
.head_senvang .item-header .header .logo img {
  width: 100%;
  height: 100%;
}
.head_senvang .item-header .header .right {
  position: absolute;
  width: 44.5%;
  height: 100%;
  right: 0;
  top: 0;
}
.head_senvang .item-header .header .right img {
  width: 100%;
  height: 100%;
}
.head_senvang .item-header .header .menu-top {
  width: 100%;
  z-index: 1;
}
.head_senvang .item-header .header .menu-top .menu-wrapper {
  display: none;
  float: right;
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
}
.head_senvang .item-header .header .menu-top .menu-wrapper .hamburger {
  z-index: 3;
  position: relative;
  width: 25px;
  height: 30px;
  margin: 15px;
  margin: 7px 0 5px 0;
}
.head_senvang .item-header .header .menu-top .menu-wrapper .hamburger span {
  opacity: 1;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #FFFFFF;
  position: absolute;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.head_senvang .item-header .header .menu-top .main-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.head_senvang .item-header .header .menu-top .main-menu .logo-menu {
  display: none;
  text-align: center;
  padding: 35px 0 50px 0;
}
.head_senvang .item-header .header .menu-top .main-menu li {
  text-transform: uppercase;
  padding-right: 80px;
  padding-top: 7px;
  padding-bottom: 7px;
  position: relative;
  cursor: pointer;
}
.head_senvang .item-header .header .menu-top .main-menu li:nth-child(4) {
  padding-right: 230px;
}
.head_senvang .item-header .header .menu-top .main-menu li:nth-child(5) {
  padding-left: 54px;
  padding-right: 54px;
}
.head_senvang .item-header .header .menu-top .main-menu li:last-child {
  padding-right: 0;
}
.head_senvang .item-header .header .menu-top .main-menu li:hover .link::after {
  width: 60%;
}
.head_senvang .item-header .header .menu-top .main-menu li:hover .sub-menu-1 {
  display: block;
}
.head_senvang .item-header .header .menu-top .main-menu li:hover .fa-angle-down {
  color: #FFEDF6;
}
.head_senvang .item-header .header .menu-top .main-menu li:hover .fa-angle-down::before {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}
.head_senvang .item-header .header .menu-top .main-menu li .link {
  font-family: SVN-Poppins-Light;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  color: #FFFFFF;
  position: relative;
  text-decoration: none;
  padding-bottom: 5px;
}
.head_senvang .item-header .header .menu-top .main-menu li .link::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 20%;
  width: 0;
  height: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 108px;
  background: #FFFFFF;
}
.head_senvang .item-header .header .menu-top .main-menu li .sub-menu-1 {
  display: none;
  position: absolute;
  width: 240px;
  top: 100%;
  left: 0;
  background: #D09A2D;
  z-index: 10;
  padding-bottom: 5px;
}
.head_senvang .item-header .header .menu-top .main-menu li .sub-menu-1 .a-lv-1 {
  float: left;
  width: 100%;
  position: relative;
}
.head_senvang .item-header .header .menu-top .main-menu li .sub-menu-1 .a-lv-1 a {
  margin-bottom: 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  font-weight: normal;
  text-decoration: none;
  text-transform: none !important;
  border-bottom: 0.5px solid #ebebeb;
  color: #fff;
}
.head_senvang .item-header .header .menu-top .main-menu li .sub-menu-1 .a-lv-1:last-child a {
  border-bottom: 0;
}
.head_senvang .item-header .header .menu-top .main-menu li .sub-menu-1 .a-lv-1:hover .menu2 {
  display: block;
}
.head_senvang .item-header .header .menu-top .main-menu li .sub-menu-1 .a-lv-1 .menu2 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 240px;
  background: #D09A2D;
  z-index: 10;
  padding-left: 25px;
  padding-bottom: 5px;
}
.head_senvang .item-header .header .menu-top .main-menu li .sub-menu-1 .a-lv-1 .menu2 a {
  margin-bottom: 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  font-weight: normal;
  text-decoration: none;
  text-transform: none !important;
  color: #fff;
}
.head_senvang .item-header .header .menu-top .main-menu li .sub-menu-1 .a-lv-1 .menu2 a:hover {
  color: #fff;
}
.head_senvang .item-header .header .menu-top .main-menu li .sub-menu-1 .a-lv-1 .menu2 a:last-child a {
  border-bottom: 0;
}
.head_senvang .item-header .header .menu-top .main-menu li .sub-menu-1 .fa-angle {
  position: relative;
}
.head_senvang .item-header .header .menu-top .main-menu li .sub-menu-1 .fa-angle:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 13px;
  right: 15px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  -webkit-transform: rotateZ(135deg);
          transform: rotateZ(135deg);
}
.head_senvang .item-header .header .menu-top .main-menu li .sub-menu-1 .fa-angle:hover::before {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}
.head_senvang .item-header .header .menu-top .main-menu li .fa-angle-down {
  position: absolute;
  top: 8px;
  right: 70px;
}
.head_senvang .item-header .header .menu-top .main-menu li .fa-angle-down::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 6px;
  left: 6px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotateZ(135deg);
  transform: rotateZ(135deg);
}
.head_senvang .item-header .header .butt_dk {
  position: absolute;
  right: 40px;
  text-decoration: none;
}

@media (max-width: 1199px) {
  .head_senvang .item-header .header {
    height: 66px;
  }
  .head_senvang .item-header .header .menu-top {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    right: 40px;
    margin-top: 8px;
    z-index: 30;
  }
  .head_senvang .item-header .header .menu-top .menu-wrapper {
    display: block;
  }
  .head_senvang .item-header .header .menu-top .menu-wrapper .hamburger span:nth-child(1) {
    top: 0;
  }
  .head_senvang .item-header .header .menu-top .menu-wrapper .hamburger span:nth-child(2) {
    top: 9px;
  }
  .head_senvang .item-header .header .menu-top .menu-wrapper .hamburger span:nth-child(3) {
    top: 18px;
  }
  .head_senvang .item-header .header .menu-top .menu-wrapper .open span:nth-child(1) {
    -webkit-transform: translateY(9px) rotate(135deg);
            transform: translateY(9px) rotate(135deg);
  }
  .head_senvang .item-header .header .menu-top .menu-wrapper .open span:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
  .head_senvang .item-header .header .menu-top .menu-wrapper .open span:nth-child(3) {
    -webkit-transform: translateY(-9px) rotate(-135deg);
            transform: translateY(-9px) rotate(-135deg);
  }
  .head_senvang .item-header .header .menu-top .main-menu {
    padding-left: 0;
    top: 0;
    display: block;
    position: fixed;
    background: #FFFFFF;
    -webkit-box-shadow: rgba(100, 100, 100, 0.2) 6px 2px 10px;
    box-shadow: rgba(100, 100, 100, 0.2) 6px 2px 10px;
    z-index: 999;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    margin: 0 0 0 0;
    height: 100%;
    width: 400px;
    right: 100%;
  }
  .head_senvang .item-header .header .menu-top .main-menu .logo-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .head_senvang .item-header .header .menu-top .main-menu .menu-link {
    width: 100%;
    padding: 0;
    line-height: 55px;
    float: left;
    border-bottom: 1px solid #ebebeb;
    position: relative;
  }
  .head_senvang .item-header .header .menu-top .main-menu .menu-link:nth-child(4) {
    padding: 0;
  }
  .head_senvang .item-header .header .menu-top .main-menu .menu-link:nth-child(5) {
    padding: 0;
  }
  .head_senvang .item-header .header .menu-top .main-menu .menu-link:last-child {
    border: 0;
  }
  .head_senvang .item-header .header .menu-top .main-menu .menu-link .link {
    width: 100%;
    padding: 20px 0px 20px 25px;
    text-transform: none;
    font-size: 18px;
    color: #424242;
    font-family: SVN-Poppins-Light;
    font-weight: normal;
    float: left;
  }
  .head_senvang .item-header .header .menu-top .main-menu .menu-link .link::after {
    display: none;
  }
  .head_senvang .item-header .header .menu-top .main-menu .menu-link .link:hover {
    color: #D09A2D;
  }
  .head_senvang .item-header .header .menu-top .main-menu .menu-link .sub-menu-1 {
    position: relative;
    float: left;
    width: 100%;
    background: #FFFFFF;
  }
  .head_senvang .item-header .header .menu-top .main-menu .menu-link .sub-menu-1 .a-lv-1 {
    padding-left: 15px;
  }
  .head_senvang .item-header .header .menu-top .main-menu .menu-link .sub-menu-1 .a-lv-1 a {
    padding: 0 30px;
    position: relative;
    font-family: SVN-Poppins-Light;
  }
  .head_senvang .item-header .header .menu-top .main-menu .menu-link .sub-menu-1 .a-lv-1 a::before {
    position: absolute;
    content: "►";
    left: 5px;
    top: 0;
    font-size: 14px;
    color: #ccc;
  }
  .head_senvang .item-header .header .menu-top .main-menu .menu-link .sub-menu-1 .a-lv-1 .menu2 {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 10px;
    background: #FFFFFF;
  }
  .head_senvang .item-header .header .menu-top .main-menu .menu-link .sub-menu-1 .a-lv-1 .menu2 a {
    padding: 0 30px;
  }
  .head_senvang .item-header .header .menu-top .main-menu .menu-link .sub-menu-1 .fa-angle::before {
    top: 25px;
  }
  .head_senvang .item-header .header .menu-top .main-menu .menu-link .fa-angle-down {
    position: absolute;
    right: 50px;
    top: 20px;
  }
  .head_senvang .item-header .header .menu-top .main-menu .menu-link .fa-angle-down::before {
    width: 8px;
    height: 8px;
  }
  .head_senvang .item-header .header .butt_dk {
    left: 40px;
  }
}
@media screen and (max-width: 991px) {
  .head_senvang .item-header .header {
    height: 51px;
  }
  .head_senvang .item-header .header .butt_dk {
    width: 107px;
    height: 36px;
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .head_senvang .item-header .header .left {
    width: 59%;
  }
  .head_senvang .item-header .header .logo {
    left: 42%;
  }
  .head_senvang .item-header .header .right {
    width: 59%;
  }
}
@media screen and (max-width: 490px) {
  .head_senvang .item-header .header .logo {
    left: 37.5%;
  }
  .head_senvang .item-header .header .menu-top {
    right: 20px;
  }
  .head_senvang .item-header .header .menu-top .main-menu {
    width: 80%;
  }
  .head_senvang .item-header .header .butt_dk {
    left: 20px;
    z-index: 11;
  }
}
@media screen and (max-width: 375px) {
  .head_senvang .item-header .header .menu-top {
    right: 15px;
  }
  .head_senvang .item-header .header .menu-top .main-menu .menu-link .link {
    font-size: 16px;
  }
  .head_senvang .item-header .header .butt_dk {
    left: 10px;
  }
}
/* css body */
/* end css body */
.footer_senvang {
  overflow: hidden;
  width: 100%;
  background: #333333;
}
.footer_senvang .footer_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 35px 0;
}
.footer_senvang .footer_main .footer_item h3 {
  font-family: SVN-Poppins-Regular;
  font-style: normal;
  font-weight: bold;
  line-height: 150.4%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}
.footer_senvang .footer_main .footer_item a {
  text-decoration: none;
  font-family: SVN-Poppins-Light;
  font-style: normal;
  font-weight: normal;
  line-height: 150.4%;
  color: rgba(255, 255, 255, 0.7);
}
.footer_senvang .footer_main .footer_item:nth-child(1) {
  width: 241px;
  padding-top: 15px;
  text-align: center;
}
.footer_senvang .footer_main .footer_item:nth-child(1) .logo-foot {
  margin-bottom: 27px;
}
.footer_senvang .footer_main .footer_item:nth-child(1) h2 {
  font-family: SVN-Poppins-Regular;
  font-style: normal;
  font-weight: bold;
  line-height: 150.4%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.footer_senvang .footer_main .footer_item:nth-child(2) {
  width: 340px;
}
.footer_senvang .footer_main .footer_item:nth-child(2) h3 {
  margin-bottom: 22px;
}
.footer_senvang .footer_main .footer_item:nth-child(2) .check {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_senvang .footer_main .footer_item:nth-child(2) .check img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 15px;
  margin-top: 3px;
}
.footer_senvang .footer_main .footer_item:nth-child(3) {
  width: 100px;
}
.footer_senvang .footer_main .footer_item:nth-child(3) .menu-flas h3 {
  margin-bottom: 22px;
}
.footer_senvang .footer_main .footer_item:nth-child(3) .menu-flas ul {
  list-style: url("../../assets/img/grid_big.png");
  padding-left: 23px;
}
.footer_senvang .footer_main .footer_item:nth-child(3) .menu-flas ul li {
  padding-left: 7px;
  margin-bottom: 15px;
}
.footer_senvang .footer_main .footer_item:nth-child(4) {
  width: 270px;
}
.footer_senvang .footer_main .footer_item:nth-child(4) .item-image .list-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_senvang .footer_main .footer_item:nth-child(4) .item-image .list-image .image {
  width: 82px;
  height: 55px;
  margin-bottom: 11px;
  cursor: pointer;
}
.footer_senvang .bot_foot {
  background: #625231;
}
.footer_senvang .bot_foot .bott {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_senvang .bot_foot .bott p {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  line-height: 150.6%;
  color: #FFFFFF;
  width: 315px;
  margin: 0;
  margin-left: 35px;
  position: relative;
  padding: 10px 0;
}
.footer_senvang .bot_foot .bott p::before {
  position: absolute;
  content: url("../../assets/img/copyright-fill.png");
  left: -35px;
  top: 10px;
}
.footer_senvang .bot_foot .bott .lienket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
.footer_senvang .bot_foot .bott .lienket h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: 150.4%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  margin-right: 15px;
}
.footer_senvang .bot_foot .bott .lienket ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 7px;
}
.footer_senvang .bot_foot .bott .lienket ul li {
  margin-right: 10px;
}
.footer_senvang .bot_foot .bott .lienket ul li:last-child {
  margin: 0;
}

.fix-lh {
  position: fixed;
  right: 5%;
  outline: none;
  cursor: pointer;
  z-index: 79;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.fix-account {
  bottom: 380px;
}

.fix-face {
  bottom: 320px;
}

.fix-zalo {
  bottom: 260px;
}

.fix-mes {
  bottom: 200px;
}

.backtotop {
  position: fixed;
  bottom: 140px;
  right: 5%;
  outline: none;
  cursor: pointer;
  z-index: 79;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.show {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1199px) {
  .footer_senvang .footer_main .footer_item:nth-child(1) {
    width: 201px;
  }
  .footer_senvang .footer_main .footer_item:nth-child(2) {
    width: 217px;
  }
  .footer_senvang .footer_main .footer_item:nth-child(3) {
    width: 97px;
  }
  .footer_senvang .footer_main .footer_item:nth-child(4) {
    width: 265px;
  }
}
@media (max-width: 991px) {
  .footer_senvang .footer_main .footer_item {
    margin-bottom: 25px;
  }
  .footer_senvang .footer_main .footer_item:nth-child(1) {
    width: 250px;
  }
  .footer_senvang .footer_main .footer_item:nth-child(2) {
    width: 400px;
  }
  .footer_senvang .footer_main .footer_item:nth-child(3) {
    padding-left: 35px;
    width: 135px;
  }
  .footer_senvang .footer_main .footer_item:nth-child(4) {
    width: 400px;
  }
  .footer_senvang .footer_main .footer_item:nth-child(4) .item-image {
    width: 267px;
  }
}
@media screen and (max-width: 767px) {
  .footer_senvang .footer_main .footer_item:nth-child(1) {
    width: 40%;
  }
  .footer_senvang .footer_main .footer_item:nth-child(2) {
    width: 50%;
  }
  .footer_senvang .footer_main .footer_item:nth-child(4) {
    width: 50%;
  }
}
@media screen and (max-width: 575px) {
  .footer_senvang .footer_main .footer_item:nth-child(1) {
    width: 250px;
  }
  .footer_senvang .footer_main .footer_item:nth-child(2) {
    padding-left: 35px;
    width: 100%;
  }
  .footer_senvang .footer_main .footer_item:nth-child(4) {
    width: 60%;
  }
}
@media screen and (max-width: 460px) {
  .footer_senvang .footer_main .footer_item:nth-child(1) {
    width: 100%;
    padding: 0;
    text-align: left;
  }
  .footer_senvang .footer_main .footer_item:nth-child(1) h2 {
    text-align: left;
  }
  .footer_senvang .footer_main .footer_item:nth-child(2) {
    padding: 0;
  }
  .footer_senvang .footer_main .footer_item:nth-child(3) {
    width: 100%;
    padding: 0;
  }
  .footer_senvang .footer_main .footer_item:nth-child(4) {
    padding: 0;
    width: 100%;
  }
}
@media screen and (max-width: 285px) {
  .footer_senvang .footer_main .footer_item:nth-child(4) {
    width: 400px;
  }
  .footer_senvang .footer_main .footer_item:nth-child(4) .item-image {
    width: 100%;
  }
  .footer_senvang .footer_main .footer_item:nth-child(4) .item-image .list-image {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer_senvang .footer_main .footer_item:nth-child(4) .item-image .list-image .image {
    margin-right: 10px;
  }
}