.title {
    &0 {
        font-size: 48px;
    }
    
    &1 {
        font-size: 36px;

        &_1 {
            font-size: 32px;
        }

        &_2 {
            font-size: 30px;
        }

        &_3 {
            font-size: 28px;
        }
    }

    &2 {
        font-size: 26px;

        &_1 {
            font-size: 24px;
        }

        &_2 {
            font-size: 21px;
        }

        &_3 {
            font-size: 21px;
        }
    }

    &3 {
        font-size: 18px;
    }

    &4 {
        font-size: 16px;

        &_1 {
            font-size: 15px;
        }
    }

    &5 {
        font-size: 14px;
    }
}


@media screen and (max-width: 768px) {

    .title {
        &0 {
            font-size: 40px;
        }

        &1 {
            font-size: 32px;

            &_1 {
                font-size: 29px;
            }

            &_2 {
                font-size: 27px;
            }

            &_3 {
                font-size: 25px;
            }
        }

        &2 {
            font-size: 24px;
            
            &_1 {
                font-size: 22px;
            }
    
            &_2 {
                font-size: 19px;
            }

            &_3 {
                font-size: 18px;
            }
        }

        &3 {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 576px) {

    .title {
        &0 {
            font-size: 36px;
        }

        &1 {
            font-size: 30px;

            &_1 {
                font-size: 27px;
            }

            &_2 {
                font-size: 25px;
            }

            &_3 {
                font-size: 23px;
            }
        }

        &2 {
            font-size: 22px;

            &_1 {
                font-size: 20px;
            }

            &_2 {
                font-size: 18px;
            }

            &_3 {
                font-size: 17px;
            }
        }

        &3 {
            font-size: 15px;
        }

        &4 {
            font-size: 15px;
        }

        &5 {
            font-size: 14px;
        }
    }
}



@media screen and (max-width: 460px) {
    .title {
        &0 {
            font-size: 30px;
        }

        &1 {
            font-size: 26px;

            &_1 {
                font-size: 24px;
            }

            &_2 {
                font-size: 22px;
            }

            &_3 {
                font-size: 20px;
            }
        }

        &2 {
            font-size: 20px;

            &_1 {
                font-size: 18px;
            }

            &_2 {
                font-size: 16px;
            }

            &_3 {
                font-size: 15px;
            }
        }

        &3 {
            font-size: 14px;
        }

        &4 {
            font-size: 14px;

            &_1 {
                font-size: 14px;
            }
        }

        &5 {
            font-size: 13px;
        }
    }
}