/* Lưu các font family và đường dẫn */
/* Nếu dùng  font của google thì import như này */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: SVN-Poppins-Medium ;
    src: url("../../assets/font/SVN-Poppins-Medium.ttf");
    font-display: swap;
}

@font-face {
    font-family: SVN-Poppins-Regular;
    src: url("../../assets/font/SVN-Poppins-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: SVN-Poppins-Light;
    src: url("../../assets/font/SVN-Poppins-Light.ttf");
    font-display: swap;
}

@font-face {
    font-family: SVN-Poppins-Bold;
    src: url("../../assets/font/SVN-Poppins-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: Helvetica Neue;
    src: url("../../assets/font/helvetica-neue-light.ttf");
    font-display: swap;
}

@font-face {
    font-family: Helvetica Neue bold;
    src: url("../../assets/font/helvetica-neue-bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: Helvetica Neue regular;
    src: url("../../assets/font/helvetica-neue-regular.ttf");
    font-display: swap;
}



