.site42_bann_col0_slidein-gt {
  position: relative;
  overflow: hidden;
  height: 380px;
  width: 100%;
}
.site42_bann_col0_slidein-gt .backgroud {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
.site42_bann_col0_slidein-gt .gioithieu {
  position: absolute;
  background: url(../img/nengioithieu.png);
  background-size: 100% 100%;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 380px;
}
.site42_bann_col0_slidein-gt .gioithieu .breadcrumb {
  padding-top: 125px;
  background: no-repeat;
}
.site42_bann_col0_slidein-gt .gioithieu .breadcrumb .title1 {
  text-transform: uppercase;
  color: #ffffff;
}
.site42_bann_col0_slidein-gt .gioithieu .breadcrumb a {
  text-decoration: none;
  color: #ffffff;
}
.site42_bann_col0_slidein-gt .gioithieu .breadcrumb a:hover {
  color: #ffffff;
}
.site42_bann_col0_slidein-gt .gioithieu .breadcrumb .main {
  position: relative;
  padding-right: 20px;
}
.site42_bann_col0_slidein-gt .gioithieu .breadcrumb .main::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 10px;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  margin-left: 8px;
}

.site42_intr_col9_kova {
  padding: 35px 0;
  overflow: hidden;
  position: relative;
}
.site42_intr_col9_kova::before {
  position: absolute;
  content: url("../img/image2.png");
  bottom: 0;
  left: 0;
  z-index: -1;
}
.site42_intr_col9_kova::after {
  position: absolute;
  content: url("../img/Ellipse2.png");
  bottom: 300px;
  right: 0;
  z-index: -1;
}
.site42_intr_col9_kova .item_thungo {
  width: 74%;
  float: left;
  position: relative;
}
.site42_intr_col9_kova .item_thungo::before {
  position: absolute;
  content: url("../img/Ellipse1.png");
  top: 200px;
  left: -150px;
  z-index: -1;
}
.site42_intr_col9_kova .item_thungo .title1_2 {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  padding-bottom: 5px;
  color: #363740;
}
.site42_intr_col9_kova .item_thungo .title1_2::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 89px;
  height: 5px;
  background: #f90411;
}
.site42_intr_col9_kova .item_thungo .item_product p {
  float: left;
  width: 100%;
  text-align: justify;
  color: #4f4f4f;
}
.site42_intr_col9_kova .item_thungo .item_product .bold {
  font-weight: 500;
}
.site42_intr_col9_kova .item_thungo .item_product .italic {
  font-style: italic;
  font-weight: 500;
}
.site42_intr_col9_kova .item_thungo .item_product .text_tak {
  width: 65%;
  float: left;
}
.site42_intr_col9_kova .item_thungo .item_product .image {
  width: 33%;
  padding-left: 15px;
  float: right;
}
.site42_intr_col9_kova .item_thungo .item_product .image img {
  width: 100%;
}
.site42_intr_col9_kova .item_danhmuc {
  width: 23%;
  padding-top: 10px;
  float: right;
}
.site42_intr_col9_kova .item_danhmuc .title1_3 {
  position: relative;
  margin: 0 0 10px 0;
}
.site42_intr_col9_kova .item_danhmuc .title1_3::before {
  position: absolute;
  content: "";
  bottom: 11px;
  right: 0;
  width: 40%;
  height: 1px;
  background: #c40006;
}
.site42_intr_col9_kova .item_danhmuc .category {
  margin-bottom: 25px;
}
.site42_intr_col9_kova .item_danhmuc .category .thungo {
  width: 100%;
  cursor: pointer;
}
.site42_intr_col9_kova .item_danhmuc .category .thungo .Dashboard {
  display: none;
}
.site42_intr_col9_kova
  .item_danhmuc
  .category
  .thungo
  input[type="radio"]:checked
  + .item_fields
  > .extra {
  display: block;
}
.site42_intr_col9_kova
  .item_danhmuc
  .category
  .thungo
  input[type="radio"]:checked
  + .item_fields
  .item_title
  > .title4_1 {
  color: #c40006;
}
.site42_intr_col9_kova
  .item_danhmuc
  .category
  .thungo
  input[type="radio"]:checked
  + .item_fields
  .item_title
  > .bar {
  height: 4px;
  background: #c40006;
}
.site42_intr_col9_kova
  .item_danhmuc
  .category
  .thungo
  input[type="radio"]:checked
  + .item_fields
  .item_title
  > .lil_arrow {
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 3px solid transparent;
  border-bottom: 10px solid #c40006;
  top: -15px;
}
.site42_intr_col9_kova .item_danhmuc .category .thungo .item_fields {
  padding-top: 15px;
  margin: 0;
}
.site42_intr_col9_kova
  .item_danhmuc
  .category
  .thungo
  .item_fields
  .item_title {
  width: 100%;
  margin: 0 0 10px 0;
  position: relative;
}
.site42_intr_col9_kova
  .item_danhmuc
  .category
  .thungo
  .item_fields
  .item_title
  .title4_1 {
  color: #4f4f4f;
  padding-left: 25px;
  margin: 0;
}
.site42_intr_col9_kova
  .item_danhmuc
  .category
  .thungo
  .item_fields
  .item_title
  .lil_arrow {
  width: 8px;
  height: 8px;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 3px solid transparent;
  border-bottom: 10px solid #4f4f4f;
  float: left;
  position: relative;
  top: -17px;
  left: 0px;
  transform: rotate(90deg);
}
.site42_intr_col9_kova
  .item_danhmuc
  .category
  .thungo
  .item_fields
  .item_title
  .bar {
  width: 100%;
  transition: width 0.15s;
  height: 1px;
  position: absolute;
  display: block;
  background: #ececec;
  bottom: -15px;
  left: 0;
  transition: all 0.5s;
}
.site42_intr_col9_kova .item_danhmuc .category .thungo .item_fields .extra {
  display: none;
  padding-left: 15px;
  padding-top: 15px;
  text-align: left;
  margin: 0;
  background: #fafafa;
  transition: all 0.5s;
}
.site42_intr_col9_kova
  .item_danhmuc
  .category
  .thungo:hover
  .item_fields
  .item_title
  .title4_1 {
  color: #c40006;
}
.site42_intr_col9_kova
  .item_danhmuc
  .category
  .thungo:hover
  .item_fields
  .item_title
  .lil_arrow {
  border-bottom: 10px solid #c40006;
}
.site42_intr_col9_kova
  .item_danhmuc
  .category
  .thungo:hover
  .item_fields
  .item_title
  .bar {
  height: 4px;
  background: #c40006;
}
.site42_intr_col9_kova .item_danhmuc .item_contact .item_title {
  background: #c40006;
  width: 100%;
  position: relative;
}
.site42_intr_col9_kova .item_danhmuc .item_contact .item_title .title3_1 {
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}
.site42_intr_col9_kova
  .item_danhmuc
  .item_contact
  .item_title
  .backgroud_image {
  position: absolute;
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
}
.site42_intr_col9_kova
  .item_danhmuc
  .item_contact
  .item_title
  .backgroud_image
  img {
  width: 100%;
  height: 100%;
}
.site42_intr_col9_kova .item_danhmuc .item_contact .item_product {
  width: 100%;
  padding: 10px 0;
  float: left;
  background: #fff7f7;
}
.site42_intr_col9_kova .item_danhmuc .item_contact .item_product ul {
  margin-bottom: 17px;
  padding-left: 50px;
}
.site42_intr_col9_kova .item_danhmuc .item_contact .item_product ul .title3_1 {
  position: relative;
  margin: 10px 0;
  color: #4f4f4f;
}
.site42_intr_col9_kova
  .item_danhmuc
  .item_contact
  .item_product
  ul
  .title3_1::after {
  position: absolute;
  content: url("../img/tell.png");
  left: -35px;
  top: 0;
}
.site42_intr_col9_kova .item_danhmuc .item_contact .item_product ul li {
  padding: 5px 0;
  color: #4f4f4f;
}
.site42_intr_col9_kova .item_danhmuc .item_contact .item_product ul li a {
  color: #4f4f4f;
  text-decoration: none;
}

/* responsive */
@media (max-width: 1200px) {
  .site42_bann_col0_slidein-gt {
    height: 300px;
  }
  .site42_bann_col0_slidein-gt .gioithieu {
    height: 300px;
  }
  .site42_bann_col0_slidein-gt .gioithieu .breadcrumb {
    padding-top: 85px;
  }
  .site42_intr_col9_kova .item_thungo {
    width: 70%;
  }
  .site42_intr_col9_kova .item_thungo .item_product .image {
    width: 40%;
    padding-top: 55px;
  }
  .site42_intr_col9_kova .item_thungo .item_product .text_tak {
    width: 59%;
  }
  .site42_intr_col9_kova .item_danhmuc {
    width: 27%;
  }
  .site42_intr_col9_kova .item_danhmuc .title1_3::before {
    width: 35%;
  }
}

@media (max-width: 1000px) {
  .site42_bann_col0_slidein-gt {
    height: 270px;
  }
  .site42_bann_col0_slidein-gt .gioithieu {
    height: 270px;
  }
  .site42_bann_col0_slidein-gt .gioithieu .breadcrumb {
    padding-top: 70px;
  }
  .site42_bann_col0_slidein-gt .gioithieu .breadcrumb .main::after {
    top: 9px;
  }
  .site42_intr_col9_kova .item_thungo {
    width: 100%;
  }
  .site42_intr_col9_kova .item_thungo .item_product .image {
    width: 38%;
    padding-top: 0;
  }
  .site42_intr_col9_kova .item_thungo .item_product .text_tak {
    width: 61%;
  }
  .site42_intr_col9_kova .item_danhmuc {
    width: 100%;
    padding-top: 35px;
  }
  .site42_intr_col9_kova .item_danhmuc .title1_3::before {
    width: 10%;
    left: 140px;
  }
  .site42_intr_col9_kova .item_danhmuc .item_contact .item_product ul {
    display: flex;
    align-items: center;
    padding-left: 70px;
  }
  .site42_intr_col9_kova .item_danhmuc .item_contact .item_product ul h2 {
    width: 200px;
  }
  .site42_intr_col9_kova .item_danhmuc .item_contact .item_product ul li {
    margin: 2px 0 0 35px;
  }
}

@media screen and (max-width: 768px) {
  .site42_bann_col0_slidein-gt {
    padding: 0 15px;
    height: 230px;
  }
  .site42_bann_col0_slidein-gt .gioithieu {
    height: 230px;
  }
  .site42_bann_col0_slidein-gt .gioithieu .breadcrumb {
    padding-left: 15px;
    padding-top: 50px;
  }
  .site42_intr_col9_kova {
    padding: 35px 15px;
  }
  .site42_intr_col9_kova .item_thungo .item_product .image {
    width: 40%;
  }
  .site42_intr_col9_kova .item_thungo .item_product .text_tak {
    width: 59%;
  }
}

@media screen and (max-width: 576px) {
  .site42_bann_col0_slidein-gt {
    padding: 0 15px;
    height: 190px;
  }
  .site42_bann_col0_slidein-gt .gioithieu {
    height: 190px;
  }
  .site42_bann_col0_slidein-gt .gioithieu .breadcrumb h2 {
    margin: 0;
  }
  .site42_bann_col0_slidein-gt .gioithieu .breadcrumb .main::after {
    top: 8px;
  }
  .site42_intr_col9_kova .item_thungo {
    width: 100%;
  }
  .site42_intr_col9_kova .item_thungo .item_product .image {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  .site42_intr_col9_kova .item_thungo .item_product .image img {
    width: auto;
  }
  .site42_intr_col9_kova .item_thungo .item_product .text_tak {
    width: 100%;
  }
  .site42_intr_col9_kova .item_danhmuc .title1_3::before {
    width: 10%;
    left: 111px;
    bottom: 8px;
  }
  .site42_intr_col9_kova .item_danhmuc .item_contact .item_product ul h2 {
    width: 150px;
  }
  .site42_intr_col9_kova .item_danhmuc .item_contact .item_product ul li {
    margin: 2px 0 0 20px;
  }
}

@media screen and (max-width: 460px) {
  .site42_intr_col9_kova .item_danhmuc .item_contact .item_product ul {
    display: block;
  }
  .site42_intr_col9_kova .item_danhmuc .item_contact .item_product ul h2 {
    width: fit-content;
  }
  .site42_intr_col9_kova .item_danhmuc .item_contact .item_product ul li {
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  .site42_bann_col0_slidein-gt {
    padding: 0 15px;
    height: 140px;
  }
  .site42_bann_col0_slidein-gt .gioithieu {
    height: 140px;
  }
  .site42_bann_col0_slidein-gt .gioithieu .breadcrumb {
    padding-top: 25px;
  }
}

@media screen and (max-width: 285px) {
  .site42_intr_col9_kova .item_thungo .item_product .image img {
    width: 100%;
  }
  .site42_intr_col9_kova .item_danhmuc .item_contact .item_title {
    width: 100%;
  }
  .site42_intr_col9_kova .item_danhmuc .item_contact .item_product {
    width: 100%;
  }
  .site42_intr_col9_kova .item_danhmuc .item_contact .item_product ul {
    padding-left: 70px;
  }
}
