.site42_bann_col0_slidein-gt {
  position: relative;
  overflow: hidden;
  height: 380px;
  width: 100%;
  .backgroud {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  .gioithieu {
    position: absolute;
    background: url(../img/nengioithieu.png);
    background-size: 100% 100%;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 380px;
    .breadcrumb {
      padding-top: 125px;
      background: no-repeat;
      .title1 {
        text-transform: uppercase;
        color: #FFFFFF;
      }
      a {
        text-decoration: none;
        color: #FFFFFF;
        &:hover {
          color: #FFFFFF;
        }
      }
      .main {
        position: relative;
        padding-right: 20px;
        &::after {
          position: absolute;
          content: "";
          width: 6px;
          height: 6px;
          top: 10px;
          border-top: 1px solid #FFFFFF;
          border-right: 1px solid #FFFFFF;
          -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
          margin-left: 8px;
        }
      }
    }
    
  }
}
.site42_intr_col9_kova {
  padding: 35px 0;
  overflow: hidden;
  position: relative;
  &::before {
    position: absolute;
    content: url('../img/image2.png');
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  &::after {
    position: absolute;
    content: url('../img/Ellipse2.png');
    bottom: 300px;
    right: 0;
    z-index: -1;
  }
  .item_thungo {
    width: 74%;
    float: left;
    position: relative;
    &::before {
      position: absolute;
      content: url('../img/Ellipse1.png');
      top: 200px;
      left: -150px;
      z-index: -1;
    }
    .title1_2 {
      position: relative;
      margin: 0;
      margin-bottom: 35px;
      padding-bottom: 5px;
      color: #363740;
      &::before {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 89px;
        height: 5px;
        background: #F90411;
      }
    }
    .item_product {
      p {
        float: left;
        width: 100%;
        text-align: justify;
        color: #4F4F4F;
      }
      .bold {
        font-weight: 500;
      }
      .italic {
        font-style: italic;
        font-weight: 500;
      }
      .text_tak {
        width: 65%;
        float: left;
      }
      .image {
        width: 33%;
        padding-left: 15px;
        float: right;
        img {
          width: 100%;
        }
      }
    }
  }
  .item_danhmuc {
    width: 23%;
    padding-top: 10px;
    float: right;
    .title1_3 {
      position: relative;
      margin: 0 0 10px 0;
      &::before {
        position: absolute;
        content: "";
        bottom: 11px;
        right: 0;
        width: 40%;
        height: 1px;
        background: #C40006;
      }
    }
    .category {
      margin-bottom: 25px;
      .thungo {
        width: 100%;
        cursor: pointer;
        .Dashboard {
          display: none;
        }
        input[type=radio]:checked + .item_fields > .extra {
          display: block;
        }
        input[type=radio]:checked + .item_fields .item_title > .title4_1 {
          color: #C40006;
        }
        input[type=radio]:checked + .item_fields .item_title > .bar {
          height: 4px;
          background: #C40006;
        }
        input[type=radio]:checked + .item_fields .item_title > .lil_arrow {
          -webkit-transition: -webkit-transform 0.8s;
          transition: transform 0.8s;
          -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 3px solid transparent;
          border-bottom: 10px solid #C40006;
          top: -15px;
        }
        .item_fields {
          padding-top: 15px;
          margin: 0;
          .item_title {
            width: 100%;
            margin: 0 0 10px 0;
            position: relative;
              .title4_1 {
                color: #4F4F4F;
                padding-left: 25px;
                margin: 0;
              }
              .lil_arrow {
                width: 8px;
                height: 8px;
                transition: transform 0.8s;
                -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 3px solid transparent;
                border-bottom: 10px solid #4F4F4F;
                float: left;
                position: relative;
                top: -17px;
                left: 0px;
                transform: rotate(90deg);
            }
            .bar {
              width: 100%;
              transition: width 0.15s;
              height: 1px;
              position: absolute;
              display: block;
              background: #ECECEC;
              bottom: -15px;
              left: 0;
              transition: all 0.5s;
            }
          }
          .extra {
            display: none;
            padding-left: 15px;
            padding-top: 15px;
            text-align: left;
            margin: 0;
            background: #FAFAFA;
            transition: all 0.5s;
          }
        }
        &:hover {
          .item_fields {
            .item_title {
              .title4_1 {
                color: #C40006;
              }
              .lil_arrow {
                border-bottom: 10px solid #C40006;
              }
              .bar {
                height: 4px;
                background: #C40006;
              }
            }
          }
        }
      }
    }
    .item_contact {
      .item_title {
        background: #C40006;
        width: 100%;
        position: relative;
        .title3_1 {
          color: #FFFFFF;
          text-align: center;
          padding: 10px 0;
          margin: 0;
        }
        .backgroud_image {
          position: absolute;
          mix-blend-mode: multiply;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .item_product {
        width: 100%;
        padding: 10px 0;
        float: left;
        background: #FFF7F7;
        ul {
          margin-bottom: 17px;
          padding-left: 50px;
            .title3_1 {
              position: relative;
              margin: 10px 0;
              color: #4F4F4F;
              &::after {
                position: absolute;
                content: url('../img/tell.png');
                left: -35px;
                top: 0;

              }
            }
            li {
              padding: 5px 0;
              color: #4F4F4F;
              span {}
              a {
                color: #4F4F4F;
                text-decoration: none;
              }
            }
        }
      }
    }
  }
}

/* responsive */


@media (max-width:1200px) {
  .site42_bann_col0_slidein-gt {
    height: 300px;
    .gioithieu {
      height: 300px;
      .breadcrumb {
        padding-top: 85px;
      }
    }
  }
  .site42_intr_col9_kova {
    .item_thungo {
      width: 70%;
      .item_product {
        .image {
          width: 40%;
          padding-top: 55px;
        }
       .text_tak {
          width: 59%;
       }
      }
    }
    .item_danhmuc {
      width: 27%;
      .title1_3 {
        &::before {
          width: 35%;
        }
      }
    }
  }
}

@media (max-width:1000px) {
  .site42_bann_col0_slidein-gt {
    height: 270px;
    .gioithieu {
      height: 270px;
      .breadcrumb {
        padding-top: 70px;
        .main {
          &::after {
            top: 8px;
          }
        }
      }
    }
  }
  .site42_intr_col9_kova {
    .item_thungo {
      width: 100%;
      .item_product {
        .image {
          width: 38%;
          padding-top: 0;
        }
       .text_tak {
          width: 61%;
       }
      }
    }
    .item_danhmuc {
      width: 100%;
      padding-top: 35px;
      .title1_3 {
        &::before {
          width: 10%;
          left: 140px;
        }
      }
      .item_contact {
        .item_product {
          ul {
            display: flex;
            align-items: center;
            padding-left: 70px;
            h2 {
              width: 200px;
            }
            li {
              margin: 2px 0 0 35px;
            }
          }
        }
      }
    }
  }
}



@media screen and (max-width: 768px) {
  .site42_bann_col0_slidein-gt {
    padding: 0 15px;
    height: 230px;
    .gioithieu {
      height: 230px;
      .breadcrumb {
        padding-left: 15px;
        padding-top: 50px;
      }
    }
  }
  .site42_intr_col9_kova {
    padding: 35px 15px;
    .item_thungo {
      .item_product {
        .image {
          width: 40%;
        }
       .text_tak {
          width: 59%;
       }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .site42_bann_col0_slidein-gt {
    padding: 0 15px;
    height: 190px;
    .gioithieu {
      height: 190px;
      .breadcrumb {
        h2 {
          margin: 0;
        }
        .main {
          &::after {
            top: 6px;
          }
        }
      }
    }
  }
  .site42_intr_col9_kova {
    .item_thungo {
      width: 100%;
      .item_product {
        .image {
          width: 100%;
          text-align: center;
          padding: 10px 0;
          img {
            width: auto;
          }
        }
       .text_tak {
          width: 100%;
       }
      }
    }
    .item_danhmuc {
      .title1_3 {
        &::before {
          width: 10%;
          left: 111px;
          bottom: 8px;
        }
      }
      .item_contact {
        .item_product {
          ul {
            h2 {
              width: 150px;
            }
            li {
              margin: 2px 0 0 20px;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 460px) {
  .site42_intr_col9_kova {
    .item_danhmuc {
      .item_contact {
        .item_product {
          ul {
            display: block;
            h2 {
              width: fit-content;
            }
            li {
              margin: 0;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 400px) {
  .site42_bann_col0_slidein-gt {
    padding: 0 15px;
    height: 140px;
    .gioithieu {
      height: 140px;
      .breadcrumb {
        padding-top: 25px;
      }
    }
  }
}

@media screen and (max-width: 285px) {
  .site42_intr_col9_kova {
    .item_thungo {
      .item_product {
        .image {
          img {
            width: 100%;
          }
        }
      }
    }
    .item_danhmuc {
      .item_contact {
        .item_title {
          width: 100%;
        }
        .item_product {
          width: 100%;
          ul {
            padding-left: 70px;
          }
        }
      }
    }
  }
}

