.site42_prodel_col12_chitietsp  {
    overflow: hidden;
    padding: 20px 0;
    .breadcrumb {
        background: no-repeat;
        padding: 10px 0;
        a {
          text-decoration: none;
          color: #828282;
          &:hover {
            color: #828282;
          }
          &:last-child {
            color: #FF7175;
          }
        }
        .main {
          position: relative;
          padding-right: 20px;
          &::after {
            position: absolute;
            content: "";
            width: 6px;
            height: 6px;
            top: 10px;
            border-top: 1px solid #828282;
            border-right: 1px solid #828282;
            -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
            margin-left: 8px;
          }
        }
    }
    .item_Information {
        width: 100%;
        margin-bottom: 35px;
        float: left;
        .column {
          width: 50%;
          float: left;
          border: 1px solid #E0E0E0;
          box-sizing: border-box;
          position: relative;
          .slider-single {
              max-height: 437px;
              margin: 0 10px;
            .img_single {
              padding: 50px 0;
              display: flex;
              justify-content: flex-end;
            }
          }
          .slider-nav {
              position: absolute;
              top: 0;
              left: 0;
              padding: 0 10px;
              max-width: 100px;
            .img_nav {
                padding: 10px 0;
                max-width: 100%;
                img {
                    margin: auto;
                }
            }
          }
          .is-active {
            transition: all 0.3s;
            background: #FFFFFF;
            border: 1px solid #FECED3;
            box-sizing: border-box;
          }
        }
        .detail {
          width: 48%;
          float: right;
          padding: 15px 0;
          a {
            text-decoration: none;
          }
          h2 {
            color: #4F4F4F;
            margin: 0;
            margin-bottom: 25px;
          }
          p {
            margin: 0;
          }
          .fit_mota {
              margin-bottom: 15px;
              .title3 {
                color: #C40006;
                margin-right: 5px;
              }
              a {
                  text-decoration: none;
                  color: #C40006;
                  text-transform: uppercase;
              }
          }
          .fit_gia {
              margin: 10px 0;
              .title3 {
                  text-decoration: none;
                  color: #C40006;
                  margin-right: 5px;
              }
          }
          .fit_kg {
              margin: 15px 0;
            p {
                color: #4F4F4F;
                margin: 20px 0;
            }
            ul {
                display: flex;
                width: 100%;
                justify-content: space-between;
                li {
                    width: 25%;
                    padding-right: 10px;
                    &:last-child {
                        padding: 0;
                    }
                    .btn {
                        padding: 15px;
                        background: #F2F2F2;
                        border-radius: 5px;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 150.5%;
                        color: #4F4F4F;
                        &:hover {
                            background: #FCF5F5;
                            border: 1px dashed #FA0411;
                            box-sizing: border-box;
                            border-radius: 5px;
                            color: #C40006;
                        }
                    }
                }
            }
          }
          .fit_filedoc {
              margin: 25px 0;
              p {
                  margin: 25px 0;
                  color: #4F4F4F;
              }
              .btn {
                padding: 10px 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 150.5%;
                span {
                    margin-right: 15px;
                    img {
                        margin-top: -7px;
                    }
                }
              }
          }
        }
    }
    .item_label_tt {
        float: left;
        width: 100%;
        border-bottom: 1px solid #E0E0E0;
        padding: 5px 15px;
        nav {
            label {
                position: relative;
                margin-right: 50px;
                color: #363740;
                transition: all 0.5s;
                &:last-child {
                    margin: 0;
                }
                &:hover {
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 40px;
                    color: #363740;
                    &::before {
                        position: absolute;
                        content: "";
                        bottom: -13px;
                        left: 30%;
                        background: #F90411;
                        width: 89px;
                        height: 5px;
                    }
                }
            }
            .active {
                font-weight: bold;
                font-size: 30px;
                line-height: 40px;
                color: #363740;
                &::before {
                    position: absolute;
                    content: "";
                    bottom: -13px;
                    left: 30%;
                    background: #F90411;
                    width: 89px;
                    height: 5px;
                }
            }
        }
    }
    .main_product {
        width: 100%;
        float: left;
        margin: 30px 0;
        .contents {
            .content {
                display: none;
                .single {
                    .item-product {
                        width: 100%;
                        p {
                            color: #4F4F4F;
                        }
                        .image {
                            width: 100%;
                            padding: 20px 0;
                            img {
                                width: 100%;
                            }
                        }
                        ul {
                            padding-left: 25px;
                            li {
                                position: relative;
                                padding-top: 10px;
                                &::before {
                                    position: absolute;
                                    content: "•";
                                    color: #C40006;
                                    font-size: 24px;
                                    line-height: 24px;
                                    left: -25px;
                                    top: 10px;
                                }
                            }
                        }
                    }
                    .error {
                        width: 100%;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .z-index {
                display: block;
              }
        }
    }
    .share {
        width: 100%;
        float: left;
        padding: 20px 0;
        border-top: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;
        margin-bottom: 15px;
        a {
            margin-left: 25px;
        }
    }
    .item_Similar_product {
        width: 100%;
        float: left;
        padding-bottom: 35px;
        h2 {
            position: relative;
            margin-bottom: 45px;
            &::before {
                position: absolute;
                content: "";
                bottom: -9px;
                left: 0;
                width: 89px;
                height: 5px;
                background: #F90411;
            }
        }
        .item_sp {
            margin: 0 -15px;
            float: left;
            .post_sp {
                width: 25%;
                padding: 0 15px;
                float: left;
                .post-col {
                    overflow: hidden;
                    padding: 15px;
                    float: left;
                    border: 1px solid #FFFFFF;
                    cursor: pointer;
                    position: relative;
                    &:before {
                      position: absolute;
                      top: 0;
                      left: -75%;
                      z-index: 2;
                      display: block;
                      content: "";
                      width: 50%;
                      height: 100%;
                      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
                      transform: skewX(-25deg);
                    }
                    .image_sp {
                      padding: 25px 0;
                      display: flex;
                      justify-content: center;
                    }
                    .title {
                        padding: 10px 0;
                      text-align: center;
                      a {
                        text-decoration: none;
                        color: #4F4F4F;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                      }
                    }
                    &:hover {
                      box-shadow: 2px 2px 10px 2px #80808036;
                      border: 1px solid #FA0411;
                      transition: 0.6s;
                      a {
                        color: #FA0411;
                        font-weight: 500;
                      }
                      .image_sp {
                        img {
                        transform: scale(1.1);
                        transition: 0.5s;
                        }
                      }
                      &:before {
                        animation: shine 1.5s;
                        left: 75%;
                        transition: 1s;
                      }
                    }
                }
            }
        }
    }
}



/* responsive */


@media (max-width:1200px) {
    .site42_prodel_col12_chitietsp {
        .item_Information {
            .column {
                .slider-single {
                    width: 75%;
                    margin: 0;
                    float: right;
                    .img_single {
                        padding: 75px 0;
                        img {
                            width: 100%;
                        }
                    }
                }
                .slider-nav {
                    width: 25%;
                    float: left;
                    overflow: hidden;
                    max-height: 100%;
                    .img_nav {
                        padding: 5px 0;
                        margin: 5px 0;
                        max-width: 100%;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1000px) {
    .site42_prodel_col12_chitietsp {
        .item_Information {
            .column {
                .slider-single {
                }
                .slider-nav {
                    .img_nav {
                        max-width: 80%;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 768px) {
    .site42_prodel_col12_chitietsp {
        padding: 20px 15px;
        .item_Information {
            .column {
                width: 100%;
                .slider-single {
                    width: 75%;
                    margin: 0;
                    float: right;
                    .img_single {
                        padding: 75px 0;
                        img {
                            width: 100%;
                        }
                    }
                }
                .slider-nav {
                    width: 25%;
                    float: left;
                    overflow: hidden;
                    max-height: 100%;
                    .img_nav {
                        padding: 5px 0;
                        margin: 5px 0;
                        max-width: 100%;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {

}



@media screen and (max-width: 460px) {
}


@media screen and (max-width: 400px) {
}

@media screen and (max-width: 285px) {
}