@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family: Poppins;
    src: url(../fonts/SVN-Poppins-Light.ttf);
  }
@font-face {
  font-family: Poppins-bold;
  src: url(../fonts/SVN-Poppins-Bold.ttf);
}
@font-face {
  font-family: SVN-Gotham;
  src: url(../fonts/SVN-Gotham_Light.otf);
}
@font-face {
  font-family: SVN-Gotham-bold;
  src: url(../fonts/SVN-Gotham_Bold.otf);
}
@font-face {
  font-family: Helvetica_Neue;
  src: url(../fonts/Helvetica-Neue-Viet-hoa/HelveticaNeue-Light.otf);
}