
.site42_html_col12_mamauin {
  overflow: hidden;
  padding: 50px 0;
}
.site42_html_col12_mamauin .item_search {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.site42_html_col12_mamauin .item_search p {
  color: #4F4F4F;
  margin-bottom: 25px;
}
.site42_html_col12_mamauin .item_search .item-recta {
  width: 770px;
  height: 45px;
  display: flex;
  align-items: center;
  margin: auto;
  color: #A6A6A6;
  border: 1px solid #FF000D;
  box-sizing: border-box;
}
.site42_html_col12_mamauin .item_search .item-recta .soe {
  width: 30%;
  padding: 0 10px;
  height: 100%;
}
.site42_html_col12_mamauin .item_search .item-recta .soe .luachon {
  outline: 0;
  width: 100%;
  height: 100%;
}
.site42_html_col12_mamauin .item_search .item-recta .search {
  width: 71%;
  position: relative;
  height: 100%;
}
.site42_html_col12_mamauin .item_search .item-recta .search input {
  outline: 0;
  width: 79%;
  height: 100%;
  padding-left: 15px;
  color: #A6A6A6;
}
.site42_html_col12_mamauin .item_search .item-recta .search ::before {
  position: absolute;
  width: 1px;
  height: 19px;
  content: "";
  background: #828282;
  top: 13px;
  left: 0;
}
.site42_html_col12_mamauin .item_search .item-recta .search button {
  float: right;
  background: #FF000D;
  border: 1px solid #FF000D;
  box-sizing: border-box;
  color: #FFFFFF;
  width: 21%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.site42_html_col12_mamauin .item_slide {
  margin-bottom: 25px;
}
.site42_html_col12_mamauin .item_slide h2 {
  position: relative;
  color: #363740;
}
.site42_html_col12_mamauin .item_slide h2::before {
  position: absolute;
  content: "";
  bottom: -9px;
  left: 0;
  width: 89px;
  height: 5px;
  background: #F90411;
}
.site42_html_col12_mamauin .item_slide .slide_maunoibat {
  margin: 0 -25px;
  padding: 35px 0;
}
.site42_html_col12_mamauin .item_slide .slide_maunoibat .slide {
  text-align: center;
  overflow: 0;
  padding: 0 25px;
}
.site42_html_col12_mamauin .item_slide .slide_maunoibat .slide .title {
  padding-left: 45px;
}
.site42_html_col12_mamauin .item_slide .slide_maunoibat .slide .title a {
  text-decoration: none;
  color: #424242;
  outline: 0;
}
.site42_html_col12_mamauin .item_slide .slide_maunoibat .slide img {
  width: 100%;
}
.site42_html_col12_mamauin .item_slide .slide_maunoibat .slick-prev {
  left: 5px;
  top: 34%;
  z-index: 1;
}
.site42_html_col12_mamauin .item_slide .slide_maunoibat .slick-prev::before {
  content: url("../img/prev.png");
}
.site42_html_col12_mamauin .item_slide .slide_maunoibat .slick-next {
  right: 20px;
  top: 34%;
  z-index: 1;
}
.site42_html_col12_mamauin .item_slide .slide_maunoibat .slick-next::before {
  content: url("../img/next.png");
}
.site42_html_col12_mamauin .item_slide .slide_maunoibat .slick-dots {
  bottom: -15px;
}
.site42_html_col12_mamauin .item_slide .slide_maunoibat .slick-dots li button {
  background: rgba(235, 33, 33, 0.15);
  border-radius: 4px;
  padding: 0;
  width: 16px;
  height: 6px;
}
.site42_html_col12_mamauin .item_slide .slide_maunoibat .slick-dots li button::before {
  color: rgba(255, 255, 255, 0);
}
.site42_html_col12_mamauin .item_slide .slide_maunoibat .slick-dots .slick-active #slick-slide-control10 {
  background: #C40006;
  border-radius: 4px;
}
.site42_html_col12_mamauin .item_slide .slide_maunoibat .slick-dots .slick-active #slick-slide-control11 {
  background: #C40006;
  border-radius: 4px;
}
.site42_html_col12_mamauin .item_slide .slide_maunoibat .slick-dots .slick-active #slick-slide-control12 {
  background: #C40006;
  border-radius: 4px;
}
.site42_html_col12_mamauin .item_slide .slide_maunoibat .slick-dots .slick-active #slick-slide-control13 {
  background: #C40006;
  border-radius: 4px;
}
.site42_html_col12_mamauin .item_slide .slide_maunoibat .slick-dots .slick-active #slick-slide-control14 {
  background: #C40006;
  border-radius: 4px;
}
.site42_html_col12_mamauin .item_slide .slide_maunoibat .slick-dots .slick-active #slick-slide-control15 {
  background: #C40006;
  border-radius: 4px;
}
.site42_html_col12_mamauin .item_color_vangtaosang {
  width: 100%;
  float: left;
  margin-bottom: 25px;
}
.site42_html_col12_mamauin .item_color_vangtaosang .item_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.site42_html_col12_mamauin .item_color_vangtaosang .item_title h2 {
  position: relative;
  color: #363740;
}
.site42_html_col12_mamauin .item_color_vangtaosang .item_title h2::before {
  position: absolute;
  content: "";
  bottom: -9px;
  left: 0;
  width: 89px;
  height: 5px;
  background: #F90411;
}
.site42_html_col12_mamauin .item_color_vangtaosang .item_title a {
  text-decoration: none;
}
.site42_html_col12_mamauin .item_color_vangtaosang .item_list_color {
  margin: 0 -10px;
}
.site42_html_col12_mamauin .item_color_vangtaosang .item_list_color .list {
  width: 16.6%;
  float: left;
  padding: 0 10px;
  margin-bottom: 25px;
}
.site42_html_col12_mamauin .item_color_vangtaosang .item_list_color .list .color {
  width: 100%;
  height: 109px;
  margin-bottom: 10px;
}
.site42_html_col12_mamauin .item_color_vangtaosang .item_list_color .list .color:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.site42_html_col12_mamauin .item_color_vangtaosang .item_list_color .list .title a {
  color: #828282;
  text-decoration: none;
  text-transform: uppercase;
}
.site42_html_col12_mamauin .item_color_vangtaosang .item_list_color .list .title h2 {
  color: #828282;
  margin: 0;
  padding-top: 10px;
}
.site42_html_col12_mamauin .item_color_maumenhtho {
  width: 100%;
  float: left;
  margin-bottom: 25px;
}
.site42_html_col12_mamauin .item_color_maumenhtho .item_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.site42_html_col12_mamauin .item_color_maumenhtho .item_title h2 {
  position: relative;
  color: #363740;
}
.site42_html_col12_mamauin .item_color_maumenhtho .item_title h2::before {
  position: absolute;
  content: "";
  bottom: -9px;
  left: 0;
  width: 89px;
  height: 5px;
  background: #F90411;
}
.site42_html_col12_mamauin .item_color_maumenhtho .item_title a {
  text-decoration: none;
}
.site42_html_col12_mamauin .item_color_maumenhtho .item_list_color {
  margin: 0 -10px;
}
.site42_html_col12_mamauin .item_color_maumenhtho .item_list_color .list {
  width: 16.6%;
  float: left;
  padding: 0 10px;
  margin-bottom: 25px;
}
.site42_html_col12_mamauin .item_color_maumenhtho .item_list_color .list .color {
  width: 100%;
  height: 109px;
  margin-bottom: 10px;
}
.site42_html_col12_mamauin .item_color_maumenhtho .item_list_color .list .color:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.site42_html_col12_mamauin .item_color_maumenhtho .item_list_color .list .title a {
  color: #828282;
  text-decoration: none;
  text-transform: uppercase;
}
.site42_html_col12_mamauin .item_color_maumenhtho .item_list_color .list .title h2 {
  color: #828282;
  margin: 0;
  padding-top: 10px;
}
.site42_html_col12_mamauin .item_color_maumenhtho .item_list_coler {
  margin: 0 -1px;
}
.site42_html_col12_mamauin .item_color_maumenhtho .item_list_coler .list {
  width: 16.6%;
  float: left;
  padding: 0 1px;
  margin-bottom: 25px;
}
.site42_html_col12_mamauin .item_color_maumenhtho .item_list_coler .list .color {
  width: 100%;
  height: 109px;
  margin-bottom: 10px;
}
.site42_html_col12_mamauin .item_color_maumenhtho .item_list_coler .list .color:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.site42_html_col12_mamauin .item_color_maumenhtho .item_list_coler .list .title a {
  color: #828282;
  text-decoration: none;
  text-transform: uppercase;
}
.site42_html_col12_mamauin .item_color_maumenhtho .item_list_coler .list .title h2 {
  color: #828282;
  margin: 0;
  padding-top: 10px;
}
.site42_html_col12_mamauin .item_color_mautuoithin {
  width: 100%;
  float: left;
  margin-bottom: 25px;
}
.site42_html_col12_mamauin .item_color_mautuoithin .item_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.site42_html_col12_mamauin .item_color_mautuoithin .item_title h2 {
  position: relative;
  color: #363740;
}
.site42_html_col12_mamauin .item_color_mautuoithin .item_title h2::before {
  position: absolute;
  content: "";
  bottom: -9px;
  left: 0;
  width: 89px;
  height: 5px;
  background: #F90411;
}
.site42_html_col12_mamauin .item_color_mautuoithin .item_title a {
  text-decoration: none;
}
.site42_html_col12_mamauin .item_color_mautuoithin .item_list_coler {
  margin: 0 -1px;
}
.site42_html_col12_mamauin .item_color_mautuoithin .item_list_coler .list {
  width: 16.6%;
  float: left;
  padding: 0 1px;
  margin-bottom: 25px;
}
.site42_html_col12_mamauin .item_color_mautuoithin .item_list_coler .list .color {
  width: 100%;
  height: 109px;
  margin-bottom: 10px;
}
.site42_html_col12_mamauin .item_color_mautuoithin .item_list_coler .list .color:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.site42_html_col12_mamauin .item_color_mautuoithin .item_list_coler .list .title a {
  color: #828282;
  text-decoration: none;
  text-transform: uppercase;
}
.site42_html_col12_mamauin .item_color_mautuoithin .item_list_coler .list .title h2 {
  color: #828282;
  margin: 0;
  padding-top: 10px;
}

/* responsive */
@media (max-width: 1200px) {
 

  .site42_html_col12_mamauin .item_slide .slide_maunoibat .slick-prev {
    top: 31%;
  }
  .site42_html_col12_mamauin .item_slide .slide_maunoibat .slick-next {
    top: 31%;
  }
  .site42_html_col12_mamauin .item_color_vangtaosang .item_list_color {
    margin: 0 -5px;
  }
  .site42_html_col12_mamauin .item_color_vangtaosang .item_list_color .list {
    padding: 0 5px;
  }
  .site42_html_col12_mamauin .item_color_maumenhtho .item_list_color {
    margin: 0 -5px;
  }
  .site42_html_col12_mamauin .item_color_maumenhtho .item_list_color .list {
    padding: 0 5px;
  }
}
@media (max-width: 1000px) {
  

  .site42_html_col12_mamauin .item_slide .slide_maunoibat .slick-prev {
    top: 28%;
    left: 8px;
  }
  .site42_html_col12_mamauin .item_slide .slide_maunoibat .slick-next {
    top: 28%;
    right: 22px;
  }
  .site42_html_col12_mamauin .item_color_vangtaosang .item_list_color {
    margin: 0 -1px;
  }
  .site42_html_col12_mamauin .item_color_vangtaosang .item_list_color .list {
    padding: 0 1px;
  }
  .site42_html_col12_mamauin .item_color_maumenhtho .item_list_color {
    margin: 0 -1px;
  }
  .site42_html_col12_mamauin .item_color_maumenhtho .item_list_color .list {
    padding: 0 1px;
  }
}
@media screen and (max-width: 768px) {


  .site42_html_col12_mamauin {
    padding: 25px 15px;
  }
  .site42_html_col12_mamauin .item_search .item-recta {
    width: 100%;
  }
  .site42_html_col12_mamauin .item_color_vangtaosang .item_list_color .list {
    width: 25%;
  }
  .site42_html_col12_mamauin .item_color_maumenhtho .item_list_color .list {
    width: 25%;
  }
  .site42_html_col12_mamauin .item_color_maumenhtho .item_list_coler .list {
    width: 25%;
  }
  .site42_html_col12_mamauin .item_color_mautuoithin .item_list_coler .list {
    width: 25%;
  }
}
@media screen and (max-width: 576px) {
  
  .site42_html_col12_mamauin .item_search .item-recta .search button {
    width: 45px;
  }
  .site42_html_col12_mamauin .item_search .item-recta .search button span {
    display: none;
  }
  .site42_html_col12_mamauin .item_color_vangtaosang .item_list_color .list {
    width: 33.33333333%;
  }
  .site42_html_col12_mamauin .item_color_maumenhtho .item_list_color .list {
    width: 33.33333333%;
  }
  .site42_html_col12_mamauin .item_color_maumenhtho .item_list_coler .list {
    width: 33.33333333%;
  }
  .site42_html_col12_mamauin .item_color_mautuoithin .item_list_coler .list {
    width: 33.33333333%;
  }
}
@media screen and (max-width: 460px) {
  .site42_html_col12_mamauin .item_color_vangtaosang {
    position: relative;
    margin-bottom: 50px;
  }
  .site42_html_col12_mamauin .item_color_vangtaosang .item_title .view_als {
    position: absolute;
    bottom: -20px;
    right: 31%;
  }
  .site42_html_col12_mamauin .item_color_maumenhtho {
    position: relative;
    margin-bottom: 50px;
  }
  .site42_html_col12_mamauin .item_color_maumenhtho .item_title .view_als {
    position: absolute;
    bottom: -20px;
    right: 31%;
  }
  .site42_html_col12_mamauin .item_color_mautuoithin {
    position: relative;
    margin-bottom: 50px;
  }
  .site42_html_col12_mamauin .item_color_mautuoithin .item_title .view_als {
    position: absolute;
    bottom: -20px;
    right: 31%;
  }
}
@media screen and (max-width: 400px) {
 
  .site42_html_col12_mamauin .item_search .item-recta .soe {
    width: 100%;
  }
  .site42_html_col12_mamauin .item_search .item-recta .search {
    display: none;
  }
  .site42_html_col12_mamauin .item_color_vangtaosang .item_list_color .list {
    width: 50%;
  }
  .site42_html_col12_mamauin .item_color_maumenhtho .item_list_color .list {
    width: 50%;
  }
  .site42_html_col12_mamauin .item_color_maumenhtho .item_list_coler .list {
    width: 50%;
  }
  .site42_html_col12_mamauin .item_color_mautuoithin .item_list_coler .list {
    width: 50%;
  }
}

/*# sourceMappingURL=08_mamau.css.map */
