.btn {
    max-width: 275px;
    max-height: 55px;
    height: 100%;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150.19%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &.btn_block {
        width: 100%;
        height: 100%;
    }

    &.btn {
        &_bg {
            max-width: 570px;
            max-height: 54px;
        }

        &_so {
          max-width: 322px;
          max-height: 60px;
        }

        &_lg {
            max-width: 275px;
            max-height: 55px;
        }

        &_lk {
            max-width: 198px;
            max-height: 55px;
        }

        &_md {
            max-width: 170px;
            max-height: 54px;
        }

        &_sm {
            max-width: 125px;
            max-height: 54px;
        }

        &_sw {
            max-width: 121px;
            max-height: 39px;
        }

        
    }

    &.btn_primary {
        height: 100%;
        width: 100%;
        background: #FA0411;
        color: #fff;
    }

    &.btn_view_color {
      background: #FFFFFF;
      border: 1px solid #FECED3;
      box-sizing: border-box;
      color: #C40006;
    }

    &.btn_header {
        text-transform: uppercase;
        border: 1px solid #FFFFFF;
        background-color: #00B2E7;
        color: #fff;
    }

    &.btn_red {
        height: 100%;
        width: 100%;
        color: #fff;
        background: #F32323;
    }

    &:hover {
        &.btn_primary {
            background: #F32323;
            border: 1px solid #DF3A3F;
            color: #fff;
        }

        &.btn_header {
            border: 1px solid #FFFFFF;
            background-color: #1cc0f1a4;
            color: #fff;
        }

        &.btn_view_color {
            background-color: #C40006;
            border: 1px solid #C40006;
            color: #FFFFFF;
        }

        &.btn_red {
            background: #F32323;
            border: 1px solid #F32323;
            color: #fff;
        }
    }
}
$dark-blue: transparent;
$green: #90feb5;
$action-color: $green;

.button_click{
  display: block;
  height: 30%;
  animation: hue-rotate 10s linear infinite;
  .button {
    -webkit-font-smoothing: antialiased;
    background-color: $dark-blue;
    // border: none;
    padding: 10px;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-decoration: none;   
    transition: all 0.1s ease-out;
    &:hover {
      // background-color: $action-color;
      color: #fff;
      font-weight: bold;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    
    &:active {
      transform: scale(0.95);
    }
  
    &--bubble {
      width: 161.14739990234375px;
      height: 42.65666198730469px;
      background: $dark-blue;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 5px;
      position: relative;
      z-index: 2;
      &:hover {
        background: none;
        border: none;
      }
  
      &:hover + .button--bubble__effect-container .circle {
        background: darken($action-color, 15%);
      }
  
      &:hover + .button--bubble__effect-container .button {
        background: darken($action-color, 15%);
      }
  
      &:active + .button--bubble__effect-container {
        transform: scale(0.95);
      }
  
      &__container {
        position: relative;
        display: inline-block;
  
        .effect-button {
          position: absolute;
          width: 50%;
          height: 25%;
          top: 50%;
          left: 25%;
          border-radius: 5px;
          z-index: 1;
          transform: translateY(-50%);
          background: $dark-blue;
          transition: background 0.1s ease-out;
        }
      }
    }
  }
  
  .button--bubble__effect-container {
    position: absolute;
    display: block;
    width: 200%;
    height: 400%;
    top: -150%;
    left: -50%;
    -webkit-filter: url("#goo");
    filter: url("#goo");
    transition: all 0.1s ease-out;
    pointer-events: none;
  
    .circle {
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 15px;
      background: $dark-blue;
      transition: background 0.1s ease-out;
  
      &.top-left {
          top: 40%;
          left: 27%;
      }
  
      &.bottom-right {
          bottom: 40%;
          right: 27%;
      }
    }
  }
  
  .goo {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
  }
  .button--bubble__container {
    top: 0%;
    // margin-top: -25px;
  }
  
  @keyframes hue-rotate {
        from {
          -webkit-filter: hue-rotate(0);
          -moz-filter: hue-rotate(0);
          -ms-filter: hue-rotate(0);
          filter: hue-rotate(0);
        }
        to {
          -webkit-filter: hue-rotate(360deg);
          -moz-filter: hue-rotate(360deg);
          -ms-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
        }
  }
}


.nac {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .latb {
      position: relative;
      width: 198px;
      float: left;
      padding: 12px 0;
      display: flex;
      justify-content: center;
      cursor: pointer;
      text-transform: uppercase;
      color: #061A3A;
      transition: all 0.1s;
      &::before {
        position: absolute;
        content: url('../img/Group.png');
        top: 0;
        left: 0;
        z-index: -1;
      }
      &::after {
        position: absolute;
        content: url('../img/Group1.png');
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
      }
      &:hover {
        color: #FFFFFF;
        &::before {
          opacity: 0;
          visibility: hidden;
        }
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .laln {
        position: relative;
        width: 241px;
        float: left;
        padding: 12px 0;
        display: flex;
        justify-content: center;
        cursor: pointer;
        text-transform: uppercase;
        color: #061A3A;
        transition: all 0.1s;
        &::before {
          position: absolute;
          content: url('../img/Gr1.png');
          top: 0;
          left: 0;
          z-index: -1;
        }
        &::after {
          position: absolute;
          content: url('../img/Gr.png');
          top: 0;
          left: 0;
          z-index: -1;
          opacity: 0;
          visibility: hidden;
        }
        &:hover {
          color: #FFFFFF;
          &::before {
            opacity: 0;
            visibility: hidden;
          }
          &::after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    .active {
      color: #FFFFFF;
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }



@media (max-width:1400px) {
    .btn {
        font-size: 14px;
    }
}