.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    &:target {
        visibility: visible;
        opacity: 1;
        z-index: 2;
    }
}
.popup_son {
    margin: calc(1% + 118px) auto;
    padding: 20px;
    background: #fff;
    border-radius: 0px;
    max-height: 618px;
    max-width: 770px;
    width: 100%;
    position: relative;
    transition: all 5s ease-in-out;
    text-align: center;
    .close {
        position: absolute;
        top: 5px;
        right: 13px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333333;
        &:hover {
            color: #e73b2b;
        }
    }
    .title_kq {
        height: 70px;
        // max-width: 630px;
        width: 82%;
        position: absolute;
        top: calc(-70px / 2);
        left: calc(100% / 2 - 82% / 2);
        background: #c40006;
        border-radius: 30px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin-right: 27px;
        }
        h3 {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            line-height: 150.5%;
            text-transform: uppercase;
            color: #ffffff;
        }
    }
    .content_kq {
        max-width: 649px;
        margin: 158px auto 0px auto;
    }
    .item_kq {
        max-width: 163px;
        text-align: center;
        .img-item {
            width: 100%;
            max-height: 174px;
        }
        .title3 {
            margin: 14px 0;
            font-family: Roboto;
            font-weight: normal;
            line-height: 150.5%;
            color: #4f4f4f;
        }
        span {
            font-family: Roboto;
            font-weight: bold;
            line-height: 150.5%;
            color: #c40006;
        }
    }
    .btn-4 {
        margin-top: 85px;
        margin-bottom: 30px;
    }
}
@media (max-width: 1400px) {
    .popup_son {
        max-height: 506px;
        .title_kq {
            height: 60px;
            top: calc(-60px / 2);
        }
        .content_kq {
            margin: 70px auto 0px auto;
        }
        .btn-4 {
            margin-top: 42px;
            margin-bottom: 0;
        }
    }
}
@media (max-width: 1000px) {
    .popup_son {
        .title_kq {
            height: 50px;
            top: calc(-50px / 2);
        }
        .btn-4 {
            margin-top: 42px;
            margin-bottom: 0;
            height: 50px;
            width: 160px;
            padding-top: 16px;
            font-size: 16px;
        }
    }
}
@media (max-width: 540px) {
    .popup_son {
        .popup_son .close {
            top: 0px;
            font-size: 26px;
        }
        .title_kq{
            img{
                margin-right: 10px;
                max-width: 9%;
            }
            h3{
                font-size: 15px;
            }
        }
        padding: 10px;
        .content_kq {
            margin: 70px auto 0px auto;
        }
        .btn-4 {
            height: 40px;
            width: 135px;
            padding-top: 10px;
            font-size: 14px;
        }
    }
}