.site45_bann_col0_lotus {
    overflow: hidden;
    width: 100%;
}
.site45_bann_col0_lotus img {
    width: 100%;
}
.site45_intr_col0_lotus {
    overflow: hidden;
}

.site45_intr_col0_lotus .item_listbon {
    width: 100%;
    padding: 90px 0;
    background: #f6f6f65e;
    position: relative;
}

.site45_intr_col0_lotus .item_listbon::before {
    position: absolute;
    content: url("../../assets/img/image4.png");
    left: 0;
    top: 90px;
    z-index: -1;
}

.site45_intr_col0_lotus .item_listbon::after {
    position: absolute;
    content: url("../../assets/img/image2.png");
    right: 0;
    top: 90px;
    z-index: -1;
}

.site45_intr_col0_lotus .item_listbon .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.site45_intr_col0_lotus .item_listbon .content .left {
    width: 53%;
    float: left;
}

.site45_intr_col0_lotus .item_listbon .content .left .lotu {
    color: #7AC041;
}

.site45_intr_col0_lotus .item_listbon .content .left .lotu::before {
    background: #7AC041;
}

.site45_intr_col0_lotus .item_listbon .content .left h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 44px;
    color: #58595B;
    margin-top: 15px;
    margin-bottom: 25px;
}

.site45_intr_col0_lotus .item_listbon .content .left p {
    font-family: SVN-Poppins-Light;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    color: #4F4F4F;
    margin: 0;
    margin-bottom: 10px;
    text-align: justify;
}

.site45_intr_col0_lotus .item_listbon .content .left .butt {
    margin-top: 25px;
}

.site45_intr_col0_lotus .item_listbon .content .left .butt img {
    margin-left: 10px;
}

.site45_intr_col0_lotus .item_listbon .content .right {
    width: 467.32px;
    height: 556px;
    float: right;
}

.site45_intr_col0_lotus .item_listbon .content .right .item_slide {
    width: 100%;
}

.site45_intr_col0_lotus .item_listbon .content .right .item_slide .image img {
    width: 100%;
}

.site45_intr_col0_lotus .item_listbon .content .right .item_slide .slick-list {
    border-radius: 5px;
}

.site45_intr_col0_lotus .item_listbon .content .right .item_slide .slick-prev {
    z-index: 1;
    width: 61px;
    height: 58px;
    left: 74%;
    top: 93.8%;
    background: #7AC041;
}

.site45_intr_col0_lotus .item_listbon .content .right .item_slide .slick-prev::before {
    position: absolute;
    content: "";
    -webkit-transform: rotateZ(-135deg);
    transform: rotateZ(-135deg);
    width: 12px;
    height: 12px;
    top: 22px;
    left: 25px;
    border-top: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
}

.site45_intr_col0_lotus .item_listbon .content .right .item_slide .slick-prev:hover {
    background: #558E25;
}

.site45_intr_col0_lotus .item_listbon .content .right .item_slide .slick-next {
    z-index: 1;
    width: 61px;
    height: 58px;
    right: 0;
    top: 93.8%;
    background: #7AC041;
    border-radius: 0px 0px 5px 0px;
}

.site45_intr_col0_lotus .item_listbon .content .right .item_slide .slick-next::before {
    position: absolute;
    content: "";
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    width: 12px;
    height: 12px;
    top: 22px;
    right: 25px;
    border-top: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
}

.site45_intr_col0_lotus .item_listbon .content .right .item_slide .slick-next:hover {
    background: #558E25;
}

.site45_intr_col0_lotus .slider-video {
    position: relative;
    padding: 90px 0;
    background: #F6F6F6;
}

.site45_intr_col0_lotus .slider-video::before {
    position: absolute;
    content: url("../../assets/img/img3.png");
    top: 0;
    left: 17%;
    z-index: 0;
}

.site45_intr_col0_lotus .slider-video::after {
    position: absolute;
    content: url("../../assets/img/img4.png");
    bottom: 0;
    right: 10%;
    z-index: 0;
}

.site45_intr_col0_lotus .slider-video .video-for {
    cursor: pointer;
    z-index: 1;
}

.site45_intr_col0_lotus .slider-video .video-for .video-item {
    position: relative;
    width: 100%;
    height: 636px;
    overflow: hidden;
    border-radius: 15px;
}

.site45_intr_col0_lotus .slider-video .video-for .video-item .video {
    height: 100%;
}

.site45_intr_col0_lotus .slider-video .video-for .video-item .video iframe {
    width: 100%;
    height: 100%;
}

.site45_intr_col0_lotus .slider-video .video-for .video-item .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.site45_intr_col0_lotus .slider-video .video-for .video-item .title .img-thumnall {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}

.site45_intr_col0_lotus .slider-video .video-for .video-item .title .img-thumnall::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: -webkit-gradient(linear, left bottom, left top, from(#0D1300), color-stop(86.29%, rgba(41, 61, 2, 0)));
    background: linear-gradient(0deg, #0D1300 0%, rgba(41, 61, 2, 0) 86.29%);
}

.site45_intr_col0_lotus .slider-video .video-for .video-item .title .img-thumnall img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 0;
}

.site45_intr_col0_lotus .slider-video .video-for .video-item .title .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.site45_intr_col0_lotus .slider-video .video-for .video-item .title .circle img {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.site45_intr_col0_lotus .slider-video .video-for .video-item .title .circle img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.site45_pro_col0_dichvu {
    width: 100%;
    float: left;
    background: #7AC041;
    opacity: 0.95;
    overflow: hidden;
    position: relative;
  }
  .site45_pro_col0_dichvu::before {
    position: absolute;
    content: url("../../assets/img/img5.png");
    left: 0;
    bottom: 0;
  }
  .site45_pro_col0_dichvu .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site45_pro_col0_dichvu .content .left {
    width: 50%;
    float: left;
    padding-right: 110px;
  }
  .site45_pro_col0_dichvu .content .left .lotu {
    color: #FFFFFF;
  }
  .site45_pro_col0_dichvu .content .left .lotu::before {
    background: #FFFFFF;
  }
  .site45_pro_col0_dichvu .content .left h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 44px;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 35px;
  }
  .site45_pro_col0_dichvu .content .left p {
    font-family: SVN-Poppins-Light;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-align: justify;
    color: #FFFFFF;
  }
  .site45_pro_col0_dichvu .content .left .butt {
    margin-top: 50px;
  }
  .site45_pro_col0_dichvu .content .left .butt img {
    margin-left: 10px;
  }
  .site45_pro_col0_dichvu .content .right {
    width: 50%;
    float: left;
  }
  .site45_pro_col0_dichvu .content .right .image {
    width: 962px;
    height: 680px;
    overflow: hidden;
    cursor: pointer;
  }
  .site45_pro_col0_dichvu .content .right .image:hover img {
    -webkit-transition: all 2.7s;
    transition: all 2.7s;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  .site45_pro_col0_dichvu .content .right .image img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .site45_new_col12_tintuc {
    width: 100%;
    overflow: hidden;
    padding: 90px 0;
  }
  .site45_new_col12_tintuc .item_new_slide {
    margin-bottom: 50px;
  }
  .site45_new_col12_tintuc .item_new_slide .slick-dots {
    bottom: -45px;
  }
  .site45_new_col12_tintuc .item_new_slide .slick-dots li button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #E0E3EB;
  }
  .site45_new_col12_tintuc .item_new_slide .slick-dots li button::before {
    color: rgba(255, 255, 255, 0);
  }
  .site45_new_col12_tintuc .item_new_slide .slick-dots .slick-active button {
    background: #7AC041;
  }
  .site45_new_col12_tintuc .item_new_slide .new_slide .news-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    /* -ms-grid-columns: (33.33%)[3]; */
    grid-template-columns: repeat(3, 33.33%);
    grid-auto-rows: minmax(150px, auto);
  }
  .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item {
    position: relative;
    max-height: 240px;
    padding: 5px;
    /* -webkit-box-flex: 1;
        -ms-flex: 1 1 200px; */
            flex: 1 1 200px;
    overflow: hidden;
  }
  .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item:first-child .main_title {
    text-align: center;
  }
  .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item:first-child .main_title .lotu {
    position: relative;
    color: #7ac041;
  }
  .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item:first-child .main_title .lotu::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 1px;
    background: #7ac041;
    top: 50%;
    left: -40px;
  }
  .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item:first-child .main_title h2 {
    margin-top: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 44px;
    color: #58595B;
  }
  .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item:first-child .main_title .butt {
    margin-top: 25px;
  }
  .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item:first-child .main_title .butt img {
    margin: 0;
    margin-left: 10px;
  }
  .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item .thumb {
    position: relative;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
  }
  .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item .thumb img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item .box-content {
    position: absolute;
    width: calc(100% - 10px);
    bottom: 5px;
    height: 58px;
    background: #58595ba6;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item .box-content::after {
    display: none;
    position: absolute;
    content: "";
    top: 0;
    width: 61px;
    height: 58px;
    background: #7AC041;
    border-radius: 5px;
    z-index: 1;
  }
  .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item .box-content::before {
    display: none;
    position: absolute;
    content: "";
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    width: 13px;
    height: 13px;
    top: 22px;
    z-index: 2;
    border-top: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
  }
  .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item .box-content .title_4 {
    font-family: SVN-Poppins-light;
    font-style: normal;
    font-weight: normal;
    line-height: 150.5%;
    color: #fff;
  }
  .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item:nth-child(3) {
    max-height: 480px;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
  }
  .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item:hover .thumb img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item:hover .box-content::after {
    display: block;
    right: 0;
  }
  .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item:hover .box-content::before {
    display: block;
    right: 25px;
  }
  .site45_html_col0_hinhanh {
    width: 100%;
    overflow: hidden;
    padding-bottom: 130px;
  }
  .site45_html_col0_hinhanh .title {
    text-align: center;
  }
  .site45_html_col0_hinhanh .title .lotu {
    color: #7AC041;
  }
  .site45_html_col0_hinhanh .title .lotu::before {
    background: #7AC041;
  }
  .site45_html_col0_hinhanh .title h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 44px;
    color: #58595B;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single {
    position: relative;
    margin-bottom: 15px;
  }
  /* .site45_html_col0_hinhanh .item_slide_image .column .slider-single::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 99%;
    top: 0;
    right: 50px;
    background: #8A8A8A;
    z-index: 10;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 99%;
    top: 0;
    left: 50px;
    background: #8A8A8A;
  } */
  /* .site45_html_col0_hinhanh .item_slide_image .column .slider-single:hover::before {
    background: #7AC041;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single:hover::after {
    background: #7AC041;
  } */
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-prev:hover {
    background: #7AC041;
    border: 1px solid #FFFFFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 26px;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-prev:hover::after {
    background: #7AC041;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-prev::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 588px;
    top: -266px;
    left: 24px;
    z-index: -1;
    background: #8A8A8A;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-next:hover {
    background: #7AC041;
    border: 1px solid #FFFFFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 26px;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-next:hover::after {
    background: #7AC041;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-next::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 588px;
    top: -266px;
    left: 22px;
    z-index: -1;
    background: #8A8A8A;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-prev {
    top: 45%;
    left: 25px;
    z-index: 10;
    width: 53px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #8A8A8A;
    background-blend-mode: soft-light, normal;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 50%;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            transform: matrix(-1, 0, 0, 1, 0, 0);
    cursor: pointer;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-prev::before {
    position: absolute;
    content: "";
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    width: 16px;
    height: 16px;
    top: 17px;
    left: 15px;
    border-top: 4px solid #FFFFFF;
    border-right: 4px solid #FFFFFF;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-next {
    top: 45%;
    right: 25px;
    z-index: 10;
    width: 53px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #8A8A8A;
    background-blend-mode: soft-light, normal;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 50%;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            transform: matrix(-1, 0, 0, 1, 0, 0);
    cursor: pointer;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-next::before {
    position: absolute;
    content: "";
    -webkit-transform: rotateZ(-135deg);
            transform: rotateZ(-135deg);
    width: 16px;
    height: 16px;
    top: 17px;
    left: 19px;
    border-top: 4px solid #FFFFFF;
    border-right: 4px solid #FFFFFF;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single .img_single {
    height: 588px;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single .img_single img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-filter: brightness(0.3);
            filter: brightness(0.3);
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-list {
    overflow: visible;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-dots {
    bottom: -155px;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-dots li button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #E0E3EB;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-dots li button::before {
    color: rgba(255, 255, 255, 0);
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-dots .slick-active button {
    background: #7AC041;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slick-active .img_single {
    cursor: pointer;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-active img {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-filter: none;
            filter: none;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-nav {
    width: 1030px;
    margin: auto;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-nav .img_nav {
    cursor: pointer;
    padding: 0 10px;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-nav .img_nav img {
    width: 100%;
  }
  .site45_form_col0_dangkytuvan {
    width: 100%;
    float: left;
    background: #7AC041;
    opacity: 0.95;
    overflow: hidden;
    position: relative;
  }
  .site45_form_col0_dangkytuvan::before {
    position: absolute;
    content: url("../../assets/img/img5.png");
    left: 0;
    bottom: 15px;
  }
  .site45_form_col0_dangkytuvan .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site45_form_col0_dangkytuvan .content .left {
    width: 50%;
    float: left;
    padding-right: 80px;
  }
  .site45_form_col0_dangkytuvan .content .left .lotu {
    color: #FFFFFF;
  }
  .site45_form_col0_dangkytuvan .content .left .lotu::before {
    background: #FFFFFF;
  }
  .site45_form_col0_dangkytuvan .content .left h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 44px;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 35px;
  }
  .site45_form_col0_dangkytuvan .content .left p {
    font-family: SVN-Poppins-Light;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-align: justify;
    color: #FFFFFF;
  }
  .site45_form_col0_dangkytuvan .content .left form {
    width: 100%;
  }
  .site45_form_col0_dangkytuvan .content .left form input,
  .site45_form_col0_dangkytuvan .content .left form textarea {
    width: 100%;
    padding: 7px;
    padding-left: 0;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 28px;
    font-family: SVN-Poppins-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    background: no-repeat;
  }
  .site45_form_col0_dangkytuvan .content .left form textarea {
    padding-bottom: 35px;
  }
  .site45_form_col0_dangkytuvan .content .left form input::-webkit-input-placeholder, .site45_form_col0_dangkytuvan .content .left form textarea::-webkit-input-placeholder {
    font-family: SVN-Poppins-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
  }
  .site45_form_col0_dangkytuvan .content .left form input::-moz-placeholder, .site45_form_col0_dangkytuvan .content .left form textarea::-moz-placeholder {
    font-family: SVN-Poppins-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
  }
  .site45_form_col0_dangkytuvan .content .left form input:-ms-input-placeholder, .site45_form_col0_dangkytuvan .content .left form textarea:-ms-input-placeholder {
    font-family: SVN-Poppins-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
  }
  .site45_form_col0_dangkytuvan .content .left form input::-ms-input-placeholder, .site45_form_col0_dangkytuvan .content .left form textarea::-ms-input-placeholder {
    font-family: SVN-Poppins-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
  }
  .site45_form_col0_dangkytuvan .content .left form input::placeholder,
  .site45_form_col0_dangkytuvan .content .left form textarea::placeholder {
    font-family: SVN-Poppins-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
  }
  .site45_form_col0_dangkytuvan .content .left form select {
    width: 100%;
    padding: 7px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 28px;
    font-family: SVN-Poppins-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    padding-left: 0;
    background: no-repeat;
    -webkit-appearance: none;
  }
  .site45_form_col0_dangkytuvan .content .left form .lukcko {
    position: relative;
  }
  .site45_form_col0_dangkytuvan .content .left form .lukcko::before {
    position: absolute;
    content: "";
    right: 0;
    top: 10px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #E0E0E0;
    border-right: 2px solid #E0E0E0;
    transform: rotateZ(135deg);
  }
  .site45_form_col0_dangkytuvan .content .left form select option {
    font-family: SVN-Poppins-Light;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    color: #000;
  }
  .site45_form_col0_dangkytuvan .content .left form .butt span {
    font-family: SVN-Gotham-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    margin-top: -7px;
  }
  .site45_form_col0_dangkytuvan .content .left form .butt img {
    margin-left: 10px;
  }
  .site45_form_col0_dangkytuvan .content .right {
    width: 50%;
    float: left;
  }
  .site45_form_col0_dangkytuvan .content .right .image {
    width: 962px;
    height: 762px;
    overflow: hidden;
    cursor: pointer;
  }
  .site45_form_col0_dangkytuvan .content .right .image:hover img {
    -webkit-transition: all 2.7s;
    transition: all 2.7s;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  .site45_form_col0_dangkytuvan .content .right .image img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .site45_html_col12_duandautubds {
    width: 100%;
    overflow: hidden;
    padding: 70px 0;
  }
  .site45_html_col12_duandautubds .title {
    text-align: center;
  }
  .site45_html_col12_duandautubds .title .lotu {
    color: #7AC041;
  }
  .site45_html_col12_duandautubds .title .lotu::before {
    background: #7AC041;
  }
  .site45_html_col12_duandautubds .title h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 44px;
    color: #58595B;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .site45_html_col12_duandautubds #slide_Component .slick-dots {
    bottom: -50px;
  }
  .site45_html_col12_duandautubds #slide_Component .slick-dots li button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #E0E3EB;
  }
  .site45_html_col12_duandautubds #slide_Component .slick-dots li button::before {
    color: rgba(255, 255, 255, 0);
  }
  .site45_html_col12_duandautubds #slide_Component .slick-dots .slick-active button {
    background: #7AC041;
  }
  .site45_html_col12_duandautubds #slide_Component .slide_Component {
    text-align: center;
    padding: 0 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .site45_html_col12_duandautubds #slide_Component .slide_Component .image {
    border-radius: 5px;
    overflow: hidden;
  }
  .site45_html_col12_duandautubds #slide_Component .slide_Component .image img {
    width: 100%;
  }
  .site45_html_col12_duandautubds #slide_Component .slide_Component .item_title {
    width: 80%;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4.51544px 16.0549px rgba(54, 54, 54, 0.05);
            box-shadow: 0px 4.51544px 16.0549px rgba(54, 54, 54, 0.05);
    border-radius: 8.02744px;
    padding: 15px;
    margin-top: -45px;
    display: inline-block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .site45_html_col12_duandautubds #slide_Component .slide_Component .item_title .title {
    text-align: left;
    border-bottom: 1px dashed #E0E0E0;
  }
  .site45_html_col12_duandautubds #slide_Component .slide_Component .item_title .title h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    color: #333333;
    margin: 0;
  }
  .site45_html_col12_duandautubds #slide_Component .slide_Component .item_title .title p {
    font-family: SVN-Poppins-light;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    color: #7AC041;
    margin: 5px 0;
  }
  .site45_html_col12_duandautubds #slide_Component .slide_Component .item_title .ress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 10px;
  }
  .site45_html_col12_duandautubds #slide_Component .slide_Component .item_title .ress span {
    margin-right: 10px;
  }
  .site45_html_col12_duandautubds #slide_Component .slide_Component .item_title .ress p {
    text-align: left;
    font-family: SVN-Poppins-light;
    font-style: normal;
    font-weight: normal;
    line-height: 150.5%;
    color: #828282;
    margin: 0;
  }
  .site45_html_col12_duandautubds #slide_Component .slide_Component:hover .item_title {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0px 4.51544px 16.0549px rgba(54, 54, 54, 0.1);
            box-shadow: 0px 4.51544px 16.0549px rgba(54, 54, 54, 0.1);
  }
  .site45_html_col6_timkiem {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    overflow: auto;
  }
  .site45_html_col6_timkiem:target {
    visibility: visible;
    opacity: 1;
    z-index: 99;
  }
  .site45_html_col6_timkiem .popup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 98;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
  }
  .site45_html_col6_timkiem .popup .content label {
    position: relative;
    float: left;
    top: 40%;
    left: 50%;
    padding-top: 80px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 630px;
    height: 290px;
    z-index: -1;
  }
  .site45_html_col6_timkiem .popup .content label .item-product {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .site45_html_col6_timkiem .popup .content label .item-product .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    font-family: auto;
  }
  .site45_html_col6_timkiem .popup .content label .item-product .title {
    text-align: center;
    margin-bottom: 80px;
  }
  .site45_html_col6_timkiem .popup .content label .item-product .title h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #7AC041;
  }
  .site45_html_col6_timkiem .popup .content label .item-product .input-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid #C4C4C4;
  }
  .site45_html_col6_timkiem .popup .content label .item-product .input-search input {
    width: 100%;
    outline: 0;
    font-family: SVN-Poppins-light;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: #000000;
  }
  .site45_html_col6_timkiem .popup .content label .item-product .input-search input::-webkit-input-placeholder, .site45_html_col6_timkiem .popup .content label .item-product .input-search textarea::-webkit-input-placeholder {
    font-family: SVN-Poppins-light;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: #716D6D;
  }
  .site45_html_col6_timkiem .popup .content label .item-product .input-search input::-moz-placeholder, .site45_html_col6_timkiem .popup .content label .item-product .input-search textarea::-moz-placeholder {
    font-family: SVN-Poppins-light;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: #716D6D;
  }
  .site45_html_col6_timkiem .popup .content label .item-product .input-search input:-ms-input-placeholder, .site45_html_col6_timkiem .popup .content label .item-product .input-search textarea:-ms-input-placeholder {
    font-family: SVN-Poppins-light;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: #716D6D;
  }
  .site45_html_col6_timkiem .popup .content label .item-product .input-search input::-ms-input-placeholder, .site45_html_col6_timkiem .popup .content label .item-product .input-search textarea::-ms-input-placeholder {
    font-family: SVN-Poppins-light;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: #716D6D;
  }
  .site45_html_col6_timkiem .popup .content label .item-product .input-search input::placeholder,
  .site45_html_col6_timkiem .popup .content label .item-product .input-search textarea::placeholder {
    font-family: SVN-Poppins-light;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: #716D6D;
  }
  .site45_html_col6_timkiem .popup .content label .item-product .input-search button {
    background: no-repeat;
  }
  .site45_html_col6_timkiem .popup .content label .item-product p {
    font-family: SVN-Poppins-light;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #8D8C8C;
    margin: 10px 0;
  }
  
  
@media (max-width: 1200px) {
    .site45_intr_col0_lotus .item_listbon .content .left {
        padding-right: 25px;
    }
    .site45_intr_col0_lotus .slider-video .video-for .video-item {
        height: 550px;
    }
    .site45_pro_col0_dichvu .content {
        display: -ms-grid;
        display: grid;
        padding: 50px 0;
      }
      .site45_pro_col0_dichvu .content .left {
        width: 100%;
        padding: 0;
        margin-bottom: 50px;
      }
      .site45_pro_col0_dichvu .content .right {
        width: 100%;
      }
      .site45_pro_col0_dichvu .content .right .image {
        width: 100%;
        height: auto;
      }
      .site45_html_col0_hinhanh .item_slide_image .column .slider-nav {
        width: 830px;
      }
      .site45_html_col0_hinhanh .item_slide_image .column .slider-single .img_single {
        height: 545px;
      }
      .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-prev {
        left: 28px;
        width: 45px;
        height: 45px;
      }
      .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-prev::before {
        width: 15px;
        height: 15px;
        top: 14px;
        left: 12px;
      }
      .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-prev::after {
        height: 545px;
        top: -246px;
        left: 18px;
      }
      .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-next {
        right: 27px;
        width: 45px;
        height: 45px;
      }
      .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-next::before {
        width: 15px;
        height: 15px;
        top: 14px;
        left: 16px;
      }
      .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-next::after {
        height: 545px;
        top: -246px;
        left: 19px;
      }
  }
  @media (max-width: 1000px) {
    .site45_intr_col0_lotus .item_listbon .content {
        display: -ms-grid;
        display: grid;
    }
    .site45_intr_col0_lotus .item_listbon .content .left {
        width: 100%;
        padding-right: 0;
    }
    .site45_intr_col0_lotus .item_listbon .content .right {
        padding-top: 50px;
        margin: auto;
        height: auto;
        float: left;
    }
    .site45_intr_col0_lotus .slider-video .video-for .video-item {
        height: 450px;
    }
    .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item .box-content {
        padding: 0 10px;
        height: 50px;
      }
      .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item .box-content::before {
        top: 19px;
        right: 23px;
      }
      .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item .box-content::after {
        width: 55px;
        height: 50px;
      }
      .site45_form_col0_dangkytuvan .content .left {
        width: 70%;
        padding-right: 50px;
      }
      .site45_form_col0_dangkytuvan .content .right {
        width: 30%;
      }
  }
  @media (max-width: 991px) {
    .site45_html_col0_hinhanh .item_slide_image .column .slider-nav {
      width: 590px;
    }
    .site45_html_col0_hinhanh .item_slide_image .column .slider-single {
      margin-bottom: 20px;
    }
    .site45_html_col0_hinhanh .item_slide_image .column .slider-single .img_single {
      height: 415px;
    }
    .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-prev {
      left: 33px;
      width: 35px;
      height: 35px;
    }
    .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-prev::before {
      width: 10px;
      height: 10px;
      top: 12px;
      left: 10px;
      border-top: 3px solid #FFFFFF;
      border-right: 3px solid #FFFFFF;
    }
    .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-prev::after {
      height: 415px;
      top: -188px;
      left: 14px;
  }
    .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-next {
      right: 35px;
      width: 35px;
      height: 35px;
    }
    .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-next::before {
      width: 10px;
      height: 10px;
      top: 12px;
      left: 13px;
      border-top: 3px solid #FFFFFF;
      border-right: 3px solid #FFFFFF;
    }
    .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-next::after {
      height: 415px;
      top: -188px;
      left: 14px;
  }
    .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-dots {
      bottom: -120px;
    }
  }
@media screen and (max-width: 768px) {
    .site45_new_col12_tintuc .item_new_slide .new_slide .news-category {
        /* -ms-grid-columns: (50%)[2]; */
        grid-template-columns: repeat(2, 50%);
        grid-auto-rows: minmax(150px, auto);
    }
    .site45_form_col0_dangkytuvan .content .left {
        width: 100%;
        padding: 35px 0;
      }
      .site45_form_col0_dangkytuvan .content .right {
        display: none;
      }
      .site45_html_col6_timkiem .popup .content {
        padding: 0 35px;
      }
      .site45_html_col6_timkiem .popup .content label {
        width: 100%;
      }
  }
@media screen and (max-width: 767px) {
    .site45_intr_col0_lotus .slider-video .video-for .video-item {
        height: 300px;
    }
    .site45_html_col0_hinhanh .item_slide_image .column .slider-nav {
        width: 410px;
      }
      .site45_html_col0_hinhanh .item_slide_image .column .slider-single {
        margin-bottom: 15px;
      }
      .site45_html_col0_hinhanh .item_slide_image .column .slider-single .img_single {
        height: 255px;
      }
      .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-prev {
        top: 43%;
      }
      .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-next {
        top: 43%;
      }
      .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-dots {
        bottom: -90px;
      }
      .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-next::after {
        height: 255px;
        top: -110px;
        left: 14px;
    }
    .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-prev::after {
      height: 255px;
      top: -110px;
      left: 14px;
    }
}
@media screen and (max-width: 576px) {
    .site45_intr_col0_lotus .item_listbon .content .right {
        width: 460px;
    }
    .site45_pro_col0_dichvu .content {
        padding-bottom: 15px;
      }
      .site45_pro_col0_dichvu .content .left .butt {
        margin-top: 35px;
      }
      .site45_form_col0_dangkytuvan .content {
        padding-left: 15px;
      }
      .site45_form_col0_dangkytuvan .content .left form input,
    .site45_form_col0_dangkytuvan .content .left form textarea {
        font-size: 17px;
      }
      .site45_form_col0_dangkytuvan .content .left form input::-webkit-input-placeholder, .site45_form_col0_dangkytuvan .content .left form textarea::-webkit-input-placeholder {
        font-size: 17px;
      }
      .site45_form_col0_dangkytuvan .content .left form input::-moz-placeholder, .site45_form_col0_dangkytuvan .content .left form textarea::-moz-placeholder {
        font-size: 17px;
      }
      .site45_form_col0_dangkytuvan .content .left form input:-ms-input-placeholder, .site45_form_col0_dangkytuvan .content .left form textarea:-ms-input-placeholder {
        font-size: 17px;
      }
      .site45_form_col0_dangkytuvan .content .left form input::-ms-input-placeholder, .site45_form_col0_dangkytuvan .content .left form textarea::-ms-input-placeholder {
        font-size: 17px;
      }
      .site45_form_col0_dangkytuvan .content .left form input::placeholder,
    .site45_form_col0_dangkytuvan .content .left form textarea::placeholder {
        font-size: 17px;
      }
      .site45_form_col0_dangkytuvan .content .left form select {
        font-size: 17px;
      }
}
@media screen and (max-width: 480px) {
    .site45_html_col0_hinhanh .item_slide_image .column .slider-single .img_single {
      height: 222px;
    }
    .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-next::after {
      height: 222px;
      top: -96px;
      left: 14px;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-prev::after {
    height: 222px;
    top: -96px;
    left: 14px;
  }
  }
@media screen and (max-width: 478px) {
    .site45_intr_col0_lotus .item_listbon {
        padding: 50px 0;
    }
    .site45_intr_col0_lotus .item_listbon .content .right {
        width: 400px;
    }
    .site45_intr_col0_lotus .item_listbon .content .right .item_slide .slick-prev {
        top: 92.8%;
        left: 70%;
    }
    .site45_intr_col0_lotus .item_listbon .content .right .item_slide .slick-next {
        top: 92.8%;
    }
    .site45_intr_col0_lotus .slider-video .video-for .video-item {
        height: 250px;
    }
}
  @media screen and (max-width: 460px) {
    .site45_new_col12_tintuc {
      padding-bottom: 50px;
    }
    .site45_new_col12_tintuc .item_new_slide .new_slide .news-category {
        /* -ms-grid-columns: (100%)[1]; */
        grid-template-columns: repeat(1, 100%);
        grid-auto-rows: minmax(150px, auto);
    }
    .site45_new_col12_tintuc .item_new_slide .new_slide .news-category .list_item:nth-child(3) {
        max-height: 240px;
        /* -ms-grid-row-span: auto; */
        grid-row-end: auto;
    }
    .site45_html_col0_hinhanh {
        padding-bottom: 50px;
      }
      .site45_html_col0_hinhanh .item_slide_image .column .slider-nav {
        display: none;
      }
      .site45_html_col0_hinhanh .item_slide_image .column .slider-single .img_single {
        height: 200px;
      }
      .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-next::after {
        height: 200px;
        top: -87px;
        left: 14px;
        width: 3px;
    }
    .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-prev::after {
      height: 200px;
      top: -87px;
      left: 14px;
      width: 3px;
    }
    .site45_form_col0_dangkytuvan .content .left form input,
    .site45_form_col0_dangkytuvan .content .left form textarea {
        font-size: 16px;
      }
      .site45_form_col0_dangkytuvan .content .left form input::-webkit-input-placeholder, .site45_form_col0_dangkytuvan .content .left form textarea::-webkit-input-placeholder {
        font-size: 16px;
      }
      .site45_form_col0_dangkytuvan .content .left form input::-moz-placeholder, .site45_form_col0_dangkytuvan .content .left form textarea::-moz-placeholder {
        font-size: 16px;
      }
      .site45_form_col0_dangkytuvan .content .left form input:-ms-input-placeholder, .site45_form_col0_dangkytuvan .content .left form textarea:-ms-input-placeholder {
        font-size: 16px;
      }
      .site45_form_col0_dangkytuvan .content .left form input::-ms-input-placeholder, .site45_form_col0_dangkytuvan .content .left form textarea::-ms-input-placeholder {
        font-size: 16px;
      }
      .site45_form_col0_dangkytuvan .content .left form input::placeholder,
    .site45_form_col0_dangkytuvan .content .left form textarea::placeholder {
        font-size: 16px;
      }
      .site45_form_col0_dangkytuvan .content .left form select {
        font-size: 16px;
      }
}

@media screen and (max-width: 415px) {
    .site45_intr_col0_lotus .item_listbon .content .right {
        width: 350px;
    }
    .site45_intr_col0_lotus .item_listbon .content .right .item_slide .slick-prev {
        top: 91.6%;
        left: 65%;
    }
    .site45_intr_col0_lotus .item_listbon .content .right .item_slide .slick-next {
        top: 91.6%;
    }
    .site45_intr_col0_lotus .slider-video .video-for .video-item {
        height: 200px;
    }
}
@media screen and (max-width: 400px) {
    .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-prev {
        top: 40%;
      }
      .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-next {
        top: 40%;
      }
      .site45_html_col0_hinhanh .item_slide_image .column .slider-single .img_single {
        height: 150px;
      }
      .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-next::after {
        height: 150px;
        top: -60px;
        left: 14px;
    }
    .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-prev::after {
      height: 150px;
      top: -60px;
      left: 14px;
    }
    .site45_html_col6_timkiem .popup .content {
      padding: 0 15px;
    }
  }
  @media screen and (max-width: 365px) {
    .site45_intr_col0_lotus .item_listbon .content .right {
        width: 300px;
    }
    .site45_intr_col0_lotus .item_listbon .content .right .item_slide .slick-prev {
        top: 93%;
        left: 74%;
        width: 40px;
        height: 40px;
    }
    .site45_intr_col0_lotus .item_listbon .content .right .item_slide .slick-prev::before {
        top: 15px;
        left: 15px;
    }
    .site45_intr_col0_lotus .item_listbon .content .right .item_slide .slick-next {
        top: 93%;
        width: 40px;
        height: 40px;
    }
    .site45_intr_col0_lotus .item_listbon .content .right .item_slide .slick-next::before {
        top: 15px;
        right: 15px;
    }
}
@media screen and (max-width: 320px) {
    .site45_html_col0_hinhanh .item_slide_image .column .slider-single .img_single {
      height: 125px;
    }
    .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-next::after {
      height: 125px;
      top: -51px;
      left: 14px;
  }
  .site45_html_col0_hinhanh .item_slide_image .column .slider-single .slick-prev::after {
    height: 125px;
    top: -51px;
    left: 14px;
  }
}
